details.license > summary {
	font-family: var(--font-headlines);
	font-size: 0.8em;
	font-weight: 600;
	position: absolute;
	right:0.5em;
	margin-top:-2em;
	user-select: none;
	outline: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: var(--headerbar-background);
	color: var(--dlw-blue);
	text-align:center;
	vertical-align:middle;
	line-height:28px;
	cursor: pointer;
	box-shadow: 0 3px 6px #00000029;
	transition:background-color 300ms, color 300ms;
	z-index: 2001;
}

summary.missing-attribution {
	background-color: #F41 !important;
}

details.license > summary::marker {
	content: '';
	display: none;
}

details.license > summary::-webkit-details-marker {
	content: '';
	display: none;
}

details.license.active > summary {
	color: var(--headerbar-background);
	background-color: var(--dlw-blue);
}

license-content {
	font-size: 0.5em;
	font-weight: 400;
	box-shadow: 0 3px 6px #00000029;
	padding: 0.8em;
	margin-top: 1px;
	line-height: 1.5em;
	position:absolute;
	left:0;
	background:rgba(255, 255, 255, 0.95);
	width:100%;
	opacity:0;
	transform:translate(0, 0%) scaleY(0);
	transform-origin:50% 0%;
	transition:transform 300ms, opacity 300ms;
	z-index: 2000;
}

details.license > license-content a {
	word-break: break-all;
	padding-right: 64px;
	text-decoration:none;
}

details.license > license-content p {
	padding-right: 64px;
}

@media only screen and (max-width: 952px) {
	details.license > license-content a,
	details.license > license-content p {
		font-size: 1.1em;
		padding-right: 18px;
	}
}

details.license.active > license-content {
	opacity:1;
	transform:translate(0, -100%) scaleY(1);
}

license-info[license-key="ARRC"] {
	display:none;
}

license-info[license-key="CC4"] > license-name,
license-info[license-key="CC3"] > license-name,
license-info[license-key="CC2"] > license-name,
license-info[license-key="CC"] > license-name,
license-info[license-key="CC0"] > license-name,
license-info[license-key="PD"] > license-name {
	display:none;
}

license-icon,
license-info[license-key="CC4"]::before,
license-info[license-key="CC3"]::before,
license-info[license-key="CC2"]::before,
license-info[license-key="CC"]::before,
license-info[license-key="CC0"]::before,
license-info[license-key="PD"]::before {
	content:'';
	background:url("/resources/svg/PD.svg") no-repeat;
	background-size:contain;
	width:2em;
	height:2em;
	display:inline-block;
	margin-right:1.5em;
	line-height:1.65em;
	vertical-align:middle;
}

license-icon {
	margin-right:0.5em;
	text-indent:-9999px;
}

license-info[license-key="CC4"]::before,
license-info[license-key="CC3"]::before,
license-info[license-key="CC2"]::before,
license-info[license-key="CC"]::before {
	background-image:url("/resources/svg/CC.svg");
}

license-info[license-key="PD"] license-icon,
license-info[license-key="CC0"] license-icon {
	display:none;
}

license-info[license-key="CC0"]::before {
	background-image:url("/resources/svg/CC0.svg");
}

license-icon[icon-term="BY"] {
	background-image:url("/resources/svg/CC-BY.svg");
}

license-icon[icon-term="NC"] {
	background-image:url("/resources/svg/CC-NC.svg");
}

license-icon[icon-term="ND"] {
	background-image:url("/resources/svg/CC-ND.svg");
}

license-icon[icon-term="SA"] {
	background-image:url("/resources/svg/CC-SA.svg");
}

