.delete-user-form {
	& .submit {
		margin-top: 1rem;
		min-width: 30rem;
		@media (--tablet) {
			justify-self: flex-end;
		}
	}
	& .description {
		font-size: 2rem;
		margin: 0;
		position: absolute;
	}
}
