.navigation {
	--navigation-height: calc(var(--header-height) - 2rem);
	& .items {
		align-items: center;
		display: grid;
		grid-auto-flow: column;
		grid-gap: 2.6rem;
		height: var(--navigation-height);
		justify-content: space-between;
		list-style-type: none;
		& .item {
			height: 100%;
			& .link {
				align-items: center;
				display: grid;
				grid-auto-flow: column;
				grid-gap: 2.6rem;
				height: 100%;
				& .image {
					height: 100%;
					max-height: var(--navigation-height);
					&.cart {
						height: 7.7rem;
					}
				}
			}
		}
	}
}
