<h1>Datenschutzerklärung</h1>
<article>
<p>
                Anbieter und Verantwortlicher im Sinne des Datenschutzgesetzes:
              </p>
              <p>
                Digitale Lernwelten GmbH<br>
                Johannes Grapentin<br>
                Dominikanergasse 2<br>
                85072 Eichstätt<br>
                Tel: +49 (0)8421 9862153<br>
                info@dilewe.de
              </p>







  <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Geltungsbereich</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Nutzer erhalten mit dieser Datenschutzerklärung Information über die Art, den Umfang und Zweck der Erhebung und Verwendung ihrer Daten durch den verantwortlichen Anbieter erhoben und verwendet werden.<br>
                Den rechtlichen Rahmen für den Datenschutz bilden das Bundesdatenschutzgesetz (BDSG) und das Telemediengesetz (TMG).
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Erfassung allgemeiner Informationen</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Mit jedem Zugriff auf dieses Angebot werden durch uns bzw. den Webspace-Provider automatisch Informationen erfasst. Diese Informationen, auch als Server-Logfiles bezeichnet, sind allgemeiner Natur und erlauben keine Rückschlüsse auf
                Ihre Person.<br>
                Erfasst werden unter anderem: Name der Webseite, Datei, Datum, Datenmenge, Webbrowser und Webbrowser-Version, Betriebssystem, der Domainname Ihres Internet-Providers, die sogenannte Referrer-URL (jene Seite, von der aus Sie auf unser
                Angebot zugegriffen haben) und die IP-Adresse.
                <br>
                Ohne diese Daten wäre es technisch teils nicht möglich, die Inhalte der Webseite auszuliefern und darzustellen. Insofern ist die Erfassung der Daten zwingend notwendig. Darüber hinaus verwenden wir die anonymen Informationen für
                statistische Zwecke. Sie helfen uns bei der Optimierung des Angebots und der Technik. Wir behalten uns zudem das Recht vor, die Log-Files bei Verdacht auf eine rechtswidrige Nutzung unseres Angebotes nachträglich zu kontrollieren.
              </p>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Erbringung kostenpflichtiger Leistungen</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Damit wir kostenpflichtige Leistungen erbringen können, fragen wir zusätzliche Daten ab. Das gilt zum Beispiel für die Angaben zur Zahlung.<br>
                Damit die Sicherheit Ihrer Daten während der Übertragung gewährleistet ist, arbeiten wir mit Verschlüsselungsverfahren (etwa SSL) über HTTPS, die den aktuellen Stand der Technik widerspiegeln.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Kommentarfunktion</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Werden Kommentare oder sonstige Beiträge auf unserem Angebot verfasst und veröffentlicht, speichern wir die IP-Adresse, den Nutzernamen und den Zeitpunkt der Erstellung. Diese Daten werden aus Sicherheitsgründen erhoben, da der
                Anbieter für rechtswidrige Inhalte (verbotene Propaganda, Beleidigungen u.a.) belangt werden kann, auch wenn sie von dritter Seite erstellt wurden. In einem solchen Fall dienen die Informationen dazu, die Identität des Verfassers zu
                ermitteln.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Kommentarabonnement</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Wenn Nutzer dieses Angebots Nachfolgekommentare abonnieren, erhalten sie eine Bestätigungsmail. Mit dieser E-Mail stellen wir sicher, dass der Nutzer auch tatsächlich Inhaber der genannten E-Mail-Adresse ist. Sie haben jederzeit die
                Möglichkeit, das Kommentarabonnement zu beenden. Hinweise dazu erhalten Sie zusammen mit der Bestätigungsmail.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Newsletter</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Melden Sie sich für unseren Newsletter an, verwenden wir die von Ihnen eingegebenen Daten ausschließlich für diesen Zweck oder um sie über die für diesen Dienst oder die Registrierung relevanten Umstände zu informieren. Diese Daten
                geben wir nicht an Dritte weiter.<bR>
                Für den Empfang des Newsletters bedarf es einer validen (gültigen) E-Mail-Adresse. Gespeichert werden zudem die IP-Adresse, über die Sie sich für den Newsletter anmelden und das Datum, an dem Sie den Newsletter bestellen. Diese Daten
                dienen uns als Nachweis bei Missbrauch, falls eine fremde E-Mail-Adresse für den Newsletter angemeldet wird. Um darüber hinaus sicherzustellen, dass eine E-Mail-Adresse nicht missbräuchlich durch Dritte in unseren Verteiler
                eingetragen wird, arbeiten wir gesetzeskonform mit dem sogenannten „Double-Opt-In“-Verfahren. Im Rahmen dieses Verfahren werden die Bestellung des Newsletters, der Versand der Bestätigungsmail und der Erhalt der Anmeldebestätigung
                protokolliert.<br>
                Sie haben jederzeit die Möglichkeit, Ihre Einwilligung zur Speicherung der Daten, Ihrer E-Mail-Adresse und deren Nutzung für den Newsletter-Versand zu widerrufen. Für den Widerruf stellen wir Ihnen in jedem Newsletter und auf der
                Webseite einen Link zur Verfügung. Sie haben außerdem die Möglichkeit, uns Ihren Widerrufswunsch über die in diesem Dokument genannten Kontaktmöglichkeiten mitzuteilen.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Kontaktformular</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Wenn Sie uns über das Onlineformular oder per E-Mail kontaktieren, speichern wir die von Ihnen gemachten Angaben, um Ihre Anfrage beantworten und mögliche Anschlussfragen stellen zu können.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Einbindung von Diensten und Inhalten Dritter</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Unser Angebot umfasst mitunter Inhalte, Dienste und Leistungen anderer Anbieter. Das sind zum Beispiel Karten, die von Google-Maps zur Verfügung gestellt werden, Videos von YouTube sowie Grafiken und Bilder anderer Webseiten. Damit
                diese Daten im Browser des Nutzers aufgerufen und dargestellt werden können, ist die Übermittlung der IP-Adresse zwingend notwendig. Die Anbieter (im Folgenden als „Dritt-Anbieter“ bezeichnet) nehmen also die IP-Adresse des jeweiligen
                Nutzers wahr.<br>
                Auch wenn wir bemüht sind, ausschließlich Dritt-Anbieter zu nutzen, welche die IP-Adresse nur benötigen, um Inhalte ausliefern zu können, haben wir keinen Einfluss darauf, ob die IP-Adresse möglicherweise gespeichert wird. Dieser
                Vorgang dient in dem Fall unter anderem statistischen Zwecken. Sofern wir Kenntnis davon haben, dass die IP-Adresse gespeichert wird, weisen wir unsere Nutzer darauf hin.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Cookies</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Diese Webseite verwendet sogenannte Cookies. Das sind Textdateien, die vom Server aus auf Ihrem Rechner gespeichert werden. Sie enthalten Informationen zum Browser, zur IP-Adresse, dem Betriebssystem und zur Internetverbindung. Diese
                Daten werden von uns nicht an Dritte weitergegeben oder ohne ihre Zustimmung mit personenbezogenen Daten verknüpft.<br>
                Cookies erfüllen vor allem zwei Aufgaben. Sie helfen uns, Ihnen die Navigation durch unser Angebot zu erleichtern, und ermöglichen die korrekte Darstellung der Webseite. Sie werden nicht dazu genutzt, Viren einzuschleusen oder
                Programme zu starten.<br>
                Nutzer haben die Möglichkeit, unser Angebot auch ohne Cookies aufzurufen. Dazu müssen im Browser die entsprechenden Einstellungen geändert werden. Informieren Sie sich bitte über die Hilfsfunktion Ihres Browsers, wie Cookies
                deaktiviert werden. Wir weisen allerdings darauf hin, dass dadurch einige Funktionen dieser Webseite möglicherweise beeinträchtigt werden und der Nutzungskomfort eingeschränkt wird. Die Seiten <a
                  href="http://www.aboutads.info/choices/" target="_blank">http://www.aboutads.info/choices/</a> (USA)
                und <a href="http://www.youronlinechoices.com/uk/your-ad-choices/" target="_blank">http://www.youronlinechoices.com/uk/your-ad-choices/</a> (Europa) erlauben es Ihnen, Online-Anzeigen-Cookies zu verwalten.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Verwendung von Google Analytics</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Diese Webseite benutzt Google Analytics, einen Webanalysedienst der Google Inc. (“Google”). Google Analytics verwendet sog. “Cookies”, Textdateien, die auf Ihrem Computer gespeichert werden und die eine Analyse der Benutzung der
                Webseite durch Sie ermöglichen. Die durch den Cookie erzeugten Informationen über Ihre Benutzung dieser Webseite werden in der Regel an einen Server von Google in den USA übertragen und dort gespeichert. Aufgrund der Aktivierung der
                IP-Anonymisierung auf diesen Webseiten, wird Ihre IP-Adresse von Google jedoch innerhalb von Mitgliedstaaten der Europäischen Union oder in anderen Vertragsstaaten des Abkommens über den Europäischen Wirtschaftsraum zuvor gekürzt. Nur
                in Ausnahmefällen wird die volle IP-Adresse an einen Server von Google in den USA übertragen und dort gekürzt.<br>
                Im Auftrag des Betreibers dieser Webseite wird Google diese Informationen benutzen, um Ihre Nutzung der Webseite auszuwerten, um Reports über die Webseitenaktivitäten zusammenzustellen und um weitere mit der Webseitennutzung und der
                Internetnutzung verbundene Dienstleistungen gegenüber dem Webseitenbetreiber zu erbringen. Die im Rahmen von Google Analytics von Ihrem Browser übermittelte IP-Adresse wird nicht mit anderen Daten von Google zusammengeführt. Sie
                können die Speicherung der Cookies durch eine entsprechende Einstellung Ihrer Browser-Software verhindern. Wir weisen Sie jedoch darauf hin, dass Sie in diesem Fall gegebenenfalls nicht sämtliche Funktionen dieser Webseite
                vollumfänglich werden nutzen können.<br>
                Sie können darüber hinaus die Erfassung der durch das Cookie erzeugten und auf Ihre Nutzung der Webseite bezogenen Daten (inkl. Ihrer IP-Adresse) an Google sowie die Verarbeitung dieser Daten durch Google verhindern, indem sie das
                unter dem folgenden Link verfügbare Browser-Plugin herunterladen und installieren: <a href="http://tools.google.com/dlpage/gaoptout?hl=de" target="_blank">Browser Add On zur Deaktivierung von Google Analytics.</a><br>
                Nähere Informationen zu Nutzungsbedingungen und Datenschutz finden Sie unter <a href="http://www.google.com/analytics/terms/de.html" target="_blank">http://www.google.com/analytics/terms/de.html</a> bzw. unter <a
                  href="https://www.google.de/intl/de/policies/" target="_blank">https://www.google.de/intl/de/policies/</a>.
              </p>
              <p>
                Wenn sie das Tracking durch Google Analytics nachträglich abstellen wollen klicken sie hier: <a class="cookieno button dlw-error-text text-color-500 dlw-grey color-100 hoverable" href="" onclick="javascript:optOut()">ABLEHNEN</a>
</p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Datensparsamkeit</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Personenbezogene Daten speichern wir gemäß den Grundsätzen der Datenvermeidung und Datensparsamkeit nur so lange, wie es erforderlich ist oder vom Gesetzgeber her vorgeschrieben wird (gesetzliche Speicherfrist). Entfällt der Zweck der
                erhobenen Informationen oder endet die Speicherfrist, sperren oder löschen wir die Daten.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Ihre Rechte auf Auskunft, Berichtigung, Sperre, Löschung und Widerspruch</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Sie haben das Recht, auf Antrag unentgeltlich eine Auskunft, über die bei uns gespeicherten personenbezogenen Daten, anzufordern und/oder eine Berichtigung, Sperrung oder Löschung zu verlangen. Ausnahmen: Es handelt sich um die
                vorgeschriebene Datenspeicherung zur Geschäftsabwicklung oder die Daten unterliegen der gesetzlichen Aufbewahrungspflicht.<br>
                Für diese Zwecke kontaktieren Sie bitte unseren Datenschutzbeauftragen (Kontaktdaten: am Ende der Datenschutzerklärung).<br>
                Um eine Datensperre jederzeit berücksichtigen zu können, ist es erforderlich, die Daten für Kontrollzwecke in einer Sperrdatei vorzuhalten. Besteht keine gesetzliche Archivierungspflicht, können Sie auch die Löschung der Daten
                verlangen. Anderenfalls sperren wir die Daten, sofern Sie dies wünschen.
              </p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Änderung unserer Datenschutz&shy;erklärung</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Um zu gewährleisten, dass unsere Datenschutzerklärung stets den aktuellen gesetzlichen Vorgaben entspricht, behalten wir uns jederzeit Änderungen vor. Das gilt auch für den Fall, dass die Datenschutzerklärung aufgrund neuer oder
                überarbeiteter Leistungen, zum Beispiel neuer Serviceleistungen, angepasst werden muss. Die neue Datenschutzerklärung greift dann bei Ihrem nächsten Besuch auf unserem Angebot.
              </p>
              <p>
                Quelle: Datenschutz-Konfigurator von <a href="https://mein-datenschutzbeauftragter.de" target="_blank">mein-datenschutzbeauftragter.de</a>
              </p>
            </div>
          </div>
        </div>
</article>
