label.form-row {
	position: relative;
	display: inline-block;
	width: 100%;
}

label.form-row > span {
	position: absolute;
	left: -2px;
	font-size: 1.4em;
	top: -1.4em;
	background: #fff;
	padding: 0 4px;
	color: #aaa;
	transition: color 300ms;
	box-sizing: border-box;
}

body.template-backend h1 {
	margin-top: 1.5em;
}

body.template-backend main {
	padding: 0 10%;
}

body.template-backend footer {
	display: none;
}

body.template-backend nav[aria-label="Navigation des Portals"] {
	display: none;
}

.form-row input[type="submit"] {
	width: auto;
	left: 100%;
	position: absolute;
	top: 0;
	margin-left: -8px;
	float: none;
	font-size: 1em;
	height: 100%;
	border-radius: 0 4px 4px 0;
}

body.template-backend input[type="submit"] {
	border-radius: 12px;
}

body.template-backend label[class="form-row"] {
	margin-right: 3em;
}

body.template-backend span.username {
	color: var(--color-main);
}

body.template-backend {
	padding-bottom: 5em;
}

/* Backend Login */

body.template-belogin nav[aria-label="Navigation des Portals"] {
	display: none;
}

body.template-belogin footer {
	display: none;
}

body.template-belogin main {
	margin: 0 auto;
	padding: 10% 25%;
}

body.template-belogin .login-form {
	margin-left: unset;
	margin-top: unset;
	padding: unset;
}

body.template-belogin input[type="submit"] {
	border-radius: 12px;
}

body.template-belogin h1 {
	font-size: 3em;
}

body.template-belogin input[type="submit"]:hover,
body.template-belogin input[type="submit"]:focus,
body.template-belogin input[type="submit"]:active {
	background: #0a409a99;
	color: #666;
	transition: all 0.2s;
}

.backend-form label.form-row {
	width: auto;
}

body.template-backend .username {
	margin-bottom: 1.5em;
}

body.template-backend .backend-form h3 {
	margin-bottom: 2.5em;
	margin-top: 1em;
}


.form-row {
	position: relative;
	margin-bottom: 4em;
}

.form-row input {
	width: 100%;
	padding: 8px 8px;
	border: solid 1px var(--color-white);
	font-size: 1.3em;
	line-height: 1.35em;
	outline: none !important;
	-webkit-appearance: none;
	transition: border-color 300ms;
	box-sizing: border-box;
}

label.inline-row input {
	border-radius: 4px 0 0 4px;
	border-right: none;
}

.order-form .form-row span,
.login-form .form-row span {
	background-color: rgb(26, 26, 31);
	color: var(--color-white);
	border-radius: 1px;
}

.order-form .form-row input,
.login-form .form-row input {
	background-color: rgb(26, 26, 31);
	color: var(--color-white);
}

.form-row input:focus {
	border-color: var(--color-blue);
}

.form-row input:focus + span,
.form-row input:focus + label {
	color: var(--color-blue);
}

.form-row input.error {
	border-color: #a62109;
}

.form-row input.error + span,
.form-row input.error + label {
	color: #a62109;
}

form.login-form .form-row span {
	background-color: unset;
	color: var(--color-text);
}

.form-row input[readonly],
.form-row input[readonly]:focus + span,
.form-row input[readonly]:focus + label {
	color: #aaa;
}

.form-row input[readonly]:focus {
	border-color: #aaa;
}

input.inline-button[type="submit"] {
	float: none;
	border-radius: 0 4px 4px 0;
	margin-right: 8px;
	border: solid 2px var(--color-main);
}

input.inline-button[type="submit"].delete {
	border: solid 2px var(--color-error);
}


body.template-backend label.inline-row input {
	border-right: unset;
	border: solid 1px var(--color-white);
}

body.template-belogin .order-form .form-row span,
body.template-belogin .login-form .form-row span {
	background-color: unset;
	color: black;
}

body.template-belogin .order-form .form-row input,
body.template-belogin .login-form .form-row input {
	background-color: unset;
	color: black;
	border: solid 1px #3E4162;
}
