.card-grid label {
	font-size: 1.5vw;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding: 8px;
	grid-area: 1 / 1 / 2 / 2;
	align-self: end;
	justify-self: end;
}

.card-grid.bg_si2 label {
	grid-area: 1 / 3 / 2 / 4;
	align-self: end;
	justify-self: start;
	padding: 10 10 10 10;
}

.card-grid label span {
	color: white;
	font-size: 1.5vw;
	font-family: 'Montserrat', sans-serif;
}

.card-grid {
	display: grid;
	grid-template-rows: 1fr;
	gap: 0 0;
	grid-template-areas:
		". .";
	margin: 0 0 0 0;
}

.card-grid.bg_si1 {
	grid-template-columns: 28% 10% 62%;
}

.card-grid.bg_si2 {
	grid-template-columns: 28% 10% 62%;
}

.card-grid.bg_si3 {
	grid-template-columns: 28% 10% 62%;
}


.bg_si1 {
	background-color: #C8563C;
}

.bg_si2 {
	background-color: #3E4162;
}

.bg_si3 {
	background-color: #C2A828;
}

.card-info {
	padding: 16px;
}

.bg_si1 .card-info {
	grid-area: 1 / 1 / 2 / 3;
}

.bg_si2 .card-info {
	grid-area: 1 / 2 / 2 / 4;
}

.bg_si3 .card-info {
	grid-area: 1 / 1 / 2 / 3;
}

.card-grid img {
	grid-area: 1 / 2 / 2 / 4;
	width: 100%;
	justify-self: end;
}

.bg_si2 img {
	grid-area: 1 / 1 / 2 / 3;
}

.card-grid h3 {
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #eee;
	font-size: 8vw;
	letter-spacing: -0.8vw;
}

.card-grid h4 {
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #eee;
	font-size: 2vw;
	line-height: 2vw;
	margin: 0.1vw 9vw 2.9vw 0;
}

.card-grid p {
	color: #eee;
	font-size: 1.4vw;
	line-height: 130%;
	margin-right: 9vw;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
}

.card-grid.bg_si2 p {
	margin: 0 2vw 0 9vw;
	text-align: left;
}

.card-grid.bg_si2 .card-info {
	justify-self: start;
}

.inp-submit {
	box-sizing: border-box;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}


label > input[type="checkbox"] + span::before {
	font-family: var(--font-icon);
	content: '\e8cc';
	display: inline-block;
	font-size: 5vw;
	text-align: center;
	width: 5vw;
	height: 5vw;
	line-height: 5vw;
	color: #f8f8f8;
	border-radius: 50%;
	transition: color 300ms, border-color 200ms, box-shadow 300ms;
	cursor: pointer;
	position: absolute;
	margin: -5.5vw 0 0 8.8vw;
}

label > input[type="checkbox"]:checked + span::before {
	color: #217ca6;
	margin: -5.5vw 0 0 6vw;
	animation: elastic 0.7s linear 0s 1 normal;
}

@keyframes elastic {
	0% {
		transform: scale(1);
	}

	30% {
		transform: scaleX(1.25) scaleY(0.75);
	}

	40% {
		transform: scaleX(0.75) scaleY(1.25);
	}

	60% {
		transform: scaleX(1.15) scaleY(0.85);
	}

	100% {
		transform: scale(1);
	}
}

label > input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}

.bg_si2 label > input[type="checkbox"] + span::before {
	margin: -5.5vw 0 0 0;
}

.bg_si2 label > input[type="checkbox"]:checked + span::before {
	color: #217ca6;
	margin: -5.5vw 0 0 0;
}


.card-grid.bg_si1 h3 {
	margin-bottom: 0;
}

.card-grid.bg_si2 h3 {
	text-align: left;
}

.card-grid.bg_si2 h4 {
	margin: 0.1vw 0 0.1vw 9vw;
}
