help-video {
	position:absolute;
	background:#fff;
	margin-top:1em;
	left:calc(100% + 1em);
	width:2em;
	height:2em;
	border-radius:50%;
	cursor:pointer;
	overflow:hidden;
	transform:translate(-50%, -50%);
	box-shadow:1px 2px 4px 2px rgba(0, 0, 0, 0.5);
}

help-video.active {
	position:fixed;
	z-index:2600;
}

help-video video {
	background:#fff;
	display:block;
	position:absolute;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
	opacity:0;
	transition:opacity 600ms;
}

help-video-button {
	color:#D69834;
	width:1em;
	height:1em;
	font-size:2em;
	position:absolute;
	left:50%;
	top:50%;
	text-align:center;
	margin-left:-0.5em;
	margin-top:-0.5em;
	font-family:var(--font-headlines);
	vertical-align:middle;
	line-height:1em;
	user-select:none;
	opacity:1;
	transition:opacity 600ms, font-size 500ms;
	z-index:1;
}

help-video[open] help-video-button {
	opacity:0;
	font-size:28em;
}

@media only screen and (max-width: 1062px) {
	inner-content.contains-help-video {
		padding-top: 3em;
	}

	help-video {
		top: 0;
		left: calc(100% - 3.5em);
	}

	a.marker {
		position: relative;
		display: inline-block;
		left: 0;
		margin-top: 0;
		margin-bottom: 1em;
	}
}

@media only screen and (max-width: 650px) {
	help-video {
		left: calc(100% - 2.8em);
	}
}
