:root {
	--content-width: 950px;
	--content-padding: 16px;
	--font-headlines: Jura;
	--font-content: Montserrat;
	--text-color: #333;
	--background-color: #fff;
	--background-accent: #e3fbff;
	--background-color-modal: rgba(255,255,255,0.8);
	--highlight-color: rgb(0, 77, 113);
}

html, body {
	color:#333;
	font-family:var(--font-content);
}

img {
	display:block;
	width:100%;
	height:auto;
}

main > section {
	width:100%;
	max-width:var(--content-width);
	padding:0px var(--content-padding);
	box-sizing:border-box;
	margin:0px auto 2em;
}

