download-wrap {
	display: flex;
	font-size: 0.8em;
	align-items: center;
	box-shadow: 0 3px 6px #00000063;
	transition: box-shadow 0.5s;
}

download-wrap:hover {
	box-shadow: 0 12px 24px #00000063;
}

download-wrap p {
	margin: 0.7em;
}

download-text {
	flex: 1 1 70%;
	display: flex;
	align-items: center;
	background: var(--dlw-grey-100);
}

download-icon {
	flex: 1 1 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	background: var(--dlw-blue);
	color: white;
}

download-icon a {
	color: white;
	text-decoration: none !important;
}

