:root {
	--content-width: 950px;
	--content-padding: 64px;
	--content-padding-half: 32px;
	--content-padding-quarter: 16px;
	--content-padding-eight: 8px;
	--font-headlines: jura, times, arial, serif, helvetica;
	--font-content: montserrat, helvetica, arial, sans, sans-serif;
	--text-color: #333;
	--background-color: #fff;
	--background-accent: #e3fbff;
	--background-color-modal: rgba(255, 255, 255, 1);
	--highlight-color: 0, 77, 113;
	--headerbar-color: #1D89AF;
	--headerbar-background: rgba(255, 255, 255, 0.9);
	--box-magenta: #A4247C;
	--box-green: #77952E;
	--box-blue: #22526C;
	--box-teal: #0F99A6;
	--box-gray: #6E7474;
	--box-invalid: #FF2008;
	--exercise-red: #5B184A;
	--dlw-blue: #257DA7;
	--dlw-gray-100: #f9fbfc;
	--background-blue: #CFE2EC;
	--background-green: #77952E3D;
	--background-red: #D8C7D3B8;
	--background-gray: #8F96A0;
	--table-color: #222428;
	--table-background-header: #1E3E51;
	--table-background-content: #CFE2EC9C;
	--dlw-blue-light: #7BA6C4;
	--dlw-blue-dark: #1E3E51;
	--support-slider-main-color: #00a99d;
	--support-slider-background-color: #f9fbfc;
}

@media screen and (max-width: 650px) {
	:root {
		--content-padding: 32px;
		--content-padding-half: 16px;
		--content-padding-quarter: 8px;
		--content-padding-eight: 4px;
	}
}

@media screen and (max-width: 400px) {
	:root {
		--content-padding: 24px;
		--content-padding-half: 12px;
		--content-padding-quarter: 6px;
		--content-padding-eight: 3px;
	}
}
