html, body {
	color:var(--text-color);
	font-weight: 400;
	font-family:var(--font-content);
	width:100%;
	min-height:100%;
}

body {
	line-height:1.25em;
	font-size:1.6em;
}

img {
	display:block;
	width:100%;
	height:auto;
}

img[no-alt="no-alt"] {
	filter: invert(1) brightness(40%);
	mask-image: url("/resources/svg/no-alt.svg");
	mask-size: cover;
	mask-type: alpha;
	mask-repeat: no-repeat;
}

iframe {
	background:#000;
}

inner-content {
	display:block;
	margin-left:auto;
	margin-right:auto;
}

main > section > inner-content,
main > mobile-only > section > inner-content,
main > desktop-only > section > inner-content {
	width:100%;
	max-width:var(--content-width);
	padding:0 var(--content-padding);
	box-sizing:border-box;
	margin:0 auto var(--content-padding);
	position:relative;
}

section::after {
	content:'';
	display:block;
	position:relative;
	clear:both;
}

figure {
	position:relative;
}

section {
	position:relative;
}

main {
	padding-top:2.2em;
	padding-bottom:4.2em;
}

main > section:first-child {
	margin-top:2.5em;
}

.marker {
	position: absolute;
	left: calc(((100% - var(--content-width))/2) - 1em);
	background: transparent;
	color: #BFBFBF;
	border-radius: 50%;
	border: solid 2px #BFBFBF;
	width: 2em;
	height: 2em;
	line-height: 1.85em;
	text-align: center;
}

details > summary {
	cursor:pointer;
	outline:none;
}

button {
	font-family: var(--font-headlines);
	appearance: none;
	cursor:pointer;
}

@media screen and (max-width: 950px) {
	body { font-size:1.6em; }
}

@media screen and (max-width: 850px) {
	body { font-size:1.5em; }
}

@media screen and (max-width: 750px) {
	body { font-size:1.4em; }
}

@media screen and (max-width: 650px) {
	body { font-size:1.3em; }
}

@media screen and (max-width: 550px) {
	body { font-size:1.2em; }
}

@media screen and (max-width: 450px) {
	body { font-size:1.1em; }
}

@media screen and (max-width: 400px) {
	body { font-size:1em; }
}
