main li ol,
main li ul {
	padding-top:1em;
	margin-bottom:1em;
}

main ol > li,
main ul > li {
	position: relative;
	list-style-type: none;
	padding-left: 1.5em;
	margin-bottom:1em;
}

main ol > li:last-child,
main ul > li:last-child {
	margin-bottom:0;
}

main ul > li::before {
	position: absolute;
	top: 0.35em;
	left: 0;
	content: "";
	display: block;
	width: 0.6em;
	height: 0.6em;
	border-radius:50%;
	background-color: var(--dlw-blue);
}

main ul ul > li::before {
	position: absolute;
	top: 0.35em;
	left: 0;
	content: "";
	display: block;
	width: 0.4em;
	height: 0.4em;
	border: 0.15em solid var(--dlw-blue);
	background: transparent;
}

main ul ul ul > li::before {
	content: "";
	display: block;
	width: 0.6em;
	height: 0.6em;
	border-radius:50%;
	border: none !important;
	background-color: var(--background-grey) !important;
}

main ul ul ul ul > li::before {
	content: "";
	display: block;
	width: 0.4em;
	height: 0.4em;
	border: 0.15em solid var(--background-grey) !important;
	background: transparent !important;
}

main ol-num {
	font-weight:500;
}

main ol > li > ol-num {
	position: absolute;
	color: var(--dlw-blue);
	left: 0;
}

main ol ol > li > ol-num {
	position: absolute;
	color: var(--background-grey) !important;
	left: 0;
}
