[Unit]
After=network-online.target
Description=The systemx develop preview
Requires=network-online.target
StartLimitBurst=25
StartLimitIntervalSec=60

[Service]
ExecStart=npm start --prefix=/var/www/html/test-dilewe.de/dev/ -- %I
Restart=on-failure
User=www-data

[Install]
WantedBy=multi-user.target