h1,h2,h3,h4,h5,h6 {
	font-family:var(--font-headlines);
	line-height:1.2em;
	margin-bottom:0.4em;
}

h1 {
	font-size:1.7em;
	font-weight: 500;
}

h2 {
	font-size:1.5em;
	font-weight: 400;
}

h3 {
	font-size:1.3em;
	font-weight: 500;
}

h4 {
	font-size:1.2em;
	font-weight:500;
}

h5 {
	font-size:1.1em;
	font-weight:600;
}

h6 {
	font-size:1em;
	font-weight:600;
}


p {
	margin-bottom:1em;
	line-height:1.5em;
}


figcaption,p,li {
	font-weight:300;
}

b, strong {
	font-weight:500;
}

i, em {
	font-style:italic;
}

u {
	text-decoration:underline;
}

s, strike {
	text-decoration:line-through;
}

a {
	color:rgb(var(--highlight-color));
}

sub {
	font-size:0.7em;
	vertical-align:sub;
}

sup {
	font-size:0.7em;
	vertical-align:super;
}

blockquote {
	padding:0.5em 0;
	margin-bottom:1em;
	font-style:italic;
	font-size:1.2em;
	color: var(--headerbar-color);
	font-weight:300;
}
