video {
	display:block;
	width:100%;
	height:auto;
	cursor:pointer;
	outline: none;
}

section[content-type="video"] > inner-content > details > summary {
	right: 64px;
	bottom: 8px;
}

@media only screen and (max-width: 650px) {
	section[content-type="video"] > inner-content > details > summary {
		right: 34px;
		bottom: 0.4em;
	}
}

@media only screen and (max-width: 400px) {
	section[content-type="video"] > inner-content > details > summary {
		right: 24px;
		bottom: 0.4em;
	}
}

section[content-type="video"] > inner-content > details > summary::marker {
	content: '';
	display: none;
}

section[content-type="video"] {
	position:relative;
}

section[content-type="video"] > inner-content > details > summary::-webkit-details-marker {
	content: '';
	display: none;
}

section[content-type="audio"] > inner-content > details > summary::-webkit-details-marker {
	content: '';
	display: none;
}

tab-box-content > section[content-type="video"] > inner-content > details > summary {
	right: 0.7em;
	bottom: 4px;
}

main > section[content-type="video"]::after {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:50%;
	background: var(--background-blue);
	z-index:0;
}

section[content-type="video"] > inner-content {
	position:relative;
	z-index:1;
}

figure.videofigure > figcaption {
	padding:var(--content-padding-quarter) 0 0;
	font-size:0.8em;
	font-style:italic;
}

figure[figure-type="video"] figcaption {
	min-height: 38px;
	padding: 6px 33px 16px 0;
}

media-play-pause {
	font-family: icomoon;
	position: relative;
	width: 1.25em;
	height: 1em;
	cursor:pointer;
	padding-left: calc(var(--content-padding-quarter) * 0.75);
	top: -1px;
	transition: background-color 100ms;
}

media-play-pause::before {
	position: absolute;
	content: "\e909";
	opacity: 1;
	transition: opacity 300ms;
}

media-play-pause.active::before {
	opacity: 0;
}

media-play-pause::after {
	position: absolute;
	content: "\e908";
	opacity: 0;
	transition: opacity 300ms;
}

media-play-pause.active::after {
	opacity: 1;
}

media-wrap {
	position: relative;
	display:block;
}

media-wrap[media-type="video"] > media-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
	background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}

figure[figure-type="hero-image"] > video {
	max-height:500px;
	object-fit:cover;
}

media-wrap[media-type="video"]:fullscreen video {
	height: 100%;
}

media-wrap[media-type="video"] > media-controls.hidden {
	opacity: 0;
	transition: opacity 800ms;
}

media-controls::after {
	content:'';
	clear:both;
	position:relative;
	display:block;
}

media-controls-left {
	float:left;
	text-align:left;
}

media-controls-right {
	float:right;
	text-align:right;
}

media-controls-left > *,
media-controls-right > * {
	display:inline-block;
}

media-fullscreen {
	width: 1.25em;
	height: 1em;
	font-family: icomoon;
	cursor: pointer;
	margin-right: 15px;
}

media-fullscreen::before {
	position: relative;
	content: "\e906";
}

media-fullscreen.active::before {
	position: relative;
	width: 1.25em;
	height: 1em;
	content: "\e907";
}

[figure-type="video"] details.license > summary {
	margin-top: 0.5em;
}

media-volume-button {
	font-family: icomoon;
	width:1.25em;
	padding-left: calc(var(--content-padding-quarter) * 1.35);
	cursor: pointer;
	transition: background-color 100ms;
}

media-volume-button::before {
	position: relative;
	content: "\e90d";
}

media-volume-slider {
	position: relative;
	height: 21px;
	width: 100px;
	cursor: pointer;
	overflow:visible;
	margin-left: var(--content-padding-half);
	transition: background-color 100ms;
}

media-volume-slider::before {
	position: absolute;
	left:0;
	display:block;
	height: 3px;
	width: 100%;
	content: '';
	background-color:rgba(255, 255, 255, 0.5);
	top: 50%;
	margin-top: -3px;
}

media-volume-slider-mark {
	position: absolute;
	left:0;
	display:block;
	height: 3px;
	width: 100%;
	background-color:white;
	top: 50%;
	margin-top: -3px;
	transition: background-color 100ms;
}

media-volume-slider-mark::after {
	content:'';
	display:block;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-left: -9px;
	margin-top: -9px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color:white;
}

media-volume-button.active::before {
	content: "\e90c";
}

media-timestamp-wrapper {
	position: relative;
	margin-left: 24px;
	top: -6px;
	font-family:var(--font-content);
	font-weight:300;
	font-size:1.3em;
	color: var(--background-grey);
}

media-timestamp {
	font-size: 0.5em;
	width: 1.25em;
	user-select: none;
}

media-timestamp::after {
	content:'/';
	user-select: none;
	margin: 0 2px;
}

media-duration {
	font-size: 0.5em;
	width: 1.25em;
	user-select: none;
}

media-seekbar {
	display:block;
	position: relative;
	height: 36px;
	width: calc(100% - 40px);
	cursor: pointer;
	overflow:visible;
	left: 20px;
	transition: background-color 100ms;
}

media-seekbar::before {
	position: absolute;
	left:0;
	display:block;
	height: 3px;
	width: 100%;
	content: '';
	background-color:rgba(255, 255, 255, 0.5);
	top: 50%;
	margin-top: -3px;
}

media-seekbar-mark {
	position: absolute;
	left:0;
	display:block;
	height: 3px;
	width: 0%;
	background-color:var(--dlw-blue);
	top: 50%;
	margin-top: -3px;
}

media-seekbar-mark::after {
	content:'';
	display:block;
	position: absolute;
	left: 100%;
	top: 50%;
	margin-left:-9px;
	margin-top: -9px;
	width: 18px;
	height: 18px;
	border-radius: 50%;
	background-color:var(--dlw-blue);
}

media-wrap[media-type="video"] {
	color: white;
}

media-status-icon {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 50px;
	height: 50px;
	margin-top:-50px;
	margin-left:-25px;
	font-family: icomoon;
	text-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
	opacity: 1;
	transform: scale(1);
	transform-origin: center;
	transition: opacity 1s, transform 1s;
	text-align:center;
	vertical-align:middle;
	line-height:50px;
	z-index:1000;
}

media-status-icon[icon-name="play"]::before {
	content: "\e909";
}

media-status-icon[icon-name="pause"]::before {
	content: "\e908";
}

media-status-icon.fading-out {
	opacity: 0;
	transform: scale(4);
}

media-play-pause:hover,
media-volume-button:hover,
media-fullscreen:hover {
	color: var(--dlw-blue);
}

media-volume-slider-mark:hover,
media-volume-slider-mark:hover::after {
	background-color: var(--dlw-blue);
}

audio {
	display:block;
	width:100%;
	height:2em;
}

section[content-type="audio"] > inner-content > details > summary::marker {
	content: '';
	display: none;
}

section[content-type="audio"] {
	position:relative;
}

main > section[content-type="audio"]::after {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:-0.5em;
	width:100%;
	height:50%;
	background: var(--background-blue);
	z-index:0;
}

section[content-type="audio"] > inner-content {
	position:relative;
	z-index:1;
}

.audio-bild {
	border: solid 12px var(--background-color);
	border-bottom: 0;
}

media-wrap[media-type="audio"] > media-controls {
	display: block;
	position: relative;
	border: 0 12px 0 12px;
	border: solid var(--background-color);
	background-color: white;
}

media-wrap[media-type="audio"] {
	color: var(--dlw-blue);
}

media-wrap[media-type="audio"] media-volume-slider-mark,
media-wrap[media-type="audio"] media-volume-slider-mark::after {
	background-color:var(--dlw-blue);
}

media-wrap[media-type="audio"] media-seekbar::before,
media-wrap[media-type="audio"] media-volume-slider::before {
	background-color:var(--dlw-blue-light);
}

media-wrap[media-type="audio"] media-play-pause:hover,
media-wrap[media-type="audio"] media-volume-button:hover {
	color: var(--dlw-blue-dark);
}

media-wrap[media-type="audio"] media-volume-slider-mark:hover,
media-wrap[media-type="audio"] media-volume-slider-mark:hover::after {
	background-color: var(--dlw-blue-dark);
}

figure[figure-type="audio"] details.license > summary {
	margin-top: -2em;
	right: 0.9em;
}

figure[figure-type="audio"] media-status-icon {
	margin-top: -215px;
}

figure[figure-type="audio"] img {
	cursor: pointer;
}

section[content-type="audio"][audio-type="no-image"] {
	margin-top:calc(var(--content-padding) * -1);
}


