:root {
	--color-text: rgba(51, 51, 51, 1);
	--color-white: #F2F2F2;
	--color-blue: #0a409a;
	--color-main: rgba(33, 124, 166, 1);
	--color-error: rgba(166, 33, 60, 1);
	--font-text: 'Roboto', sans-serif;
	--font-headline: 'Montserrat', sans-serif;
	--font-icon: 'Material Icons';
}

/* latin-ext */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/proexly/public/fonts/Montserrat-500.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url(/proexly/public/fonts/Montserrat-500-ext.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/proexly/public/fonts/Montserrat-900-ext.woff2) format('woff2');
	unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 900;
	font-display: swap;
	src: url(/proexly/public/fonts/Montserrat-900.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Material Icons';
	font-style: normal;
	font-weight: 400;
	src: url(/proexly/public/fonts/material-icons.woff2) format('woff2');
}

/* cyrillic-ext */
@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 300;
	font-display: swap;
	src: url(/proexly/public/fonts/Roboto-LightItalic.ttf) format('ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 400;
	font-display: swap;
	src: url(/proexly/public/fonts/Roboto-Italic.ttf) format('ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: italic;
	font-weight: 700;
	font-display: swap;
	src: url(/proexly/public/fonts/Roboto-BoldItalic.ttf) format('ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 300;
	font-display: swap;
	src: url(/proexly/public/fonts/Roboto-Light.ttf) format('ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url(/proexly/public/fonts/Roboto-Regular.ttf) format('ttf');
}

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url(/proexly/public/fonts/Roboto-Bold.ttf) format('ttf');
}

.material-icons {
	font-family: var(--font-icon);
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
}

html {
	height: 100%;
}

html,
body {
	font-family: var(--font-text);
	color: var(--color-text);
	background: #fff;
	text-align: left;
	font-size: 16px;
	line-height: 1.35em;
	display: block;
	min-height: 100%;
	box-sizing: border-box;
	position: relative;
}


body {
	padding: 0 0 2em;
	margin: 0;
}

h1 {
	font-family: var(--font-text);
	font-size: 2em;
	line-height: 1.35em;
	margin: 0 0 0.5em;
	color: var(--color-main);
}

h1 span {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	margin: 3vw 0 0 0;
	font-size: 10;
	position: absolute;
}

h3 {
	font-family: var(--font-text);
	font-size: 1.2em;
	line-height: 1.35em;
	margin: 0 0 0.75em;
	color: var(--color-main);
}

p {
	font-family: var(--font-text);
	margin: 0 0 1em;
}

a {
	color: var(--color-main);
}

footer {
	color: #000;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: 0.5em;
	box-sizing: border-box;
	text-align: right;
}

footer a {
	color: inherit !important;
	margin: 0 8px;
	text-decoration: none;
}

footer::after {
	content: '';
	display: block;
	clear: both;
}

body.template-impressum,
body.template-datenschutz {
	background: url('/proexly/public/jpg/3.jpg');
	background-size: cover;
}

body.template-login {
	background: url('/proexly/public/jpg/wartung.png');
	background-size: cover;
}

body.template-checkout {
	background: url('/proexly/public/jpg/2.jpg');
	background-size: cover;
}

body.template-order {
	background: url('/proexly/public/jpg/3.jpg');
	background-size: cover;
}

body.template-pwreset {
	background: url('/proexly/public/jpg/wartung.png');
	background-size: cover;
}

body.template-register {
	background: url('/proexly/public/jpg/wartung.png');
	background-size: cover;
}

body.template-checkout h1 {
	width: 100%;
	max-width: 400;
	margin: 0 auto 0.5em auto;
	padding: 32px 0 0 0;
}

input[type="submit"] {
	color: var(--color-white);
	background: var(--color-blue);
	-webkit-appearance: none;
	border: none;
	outline: none;
	padding: 8px 16px;
	font-weight: bold;
	float: right;
	box-sizing: border-box;
	line-height: 1.35em;
	font-size: 1.3em;
	cursor: pointer;
}

input[type="submit"].delete {
	background: #a6213c;
}

input[type="submit"].create {
	background: #3ca621;
}

.btn-buy {
	color: #3E4162;
	position: relative;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 80;
	max-width: 250;
	margin: 1rem auto 1rem auto;
	text-decoration: none;
	line-height: 80;
	text-transform: uppercase;
	border: 1px solid currentColor;
	transition: 0.5s ease-in-out;
	background-color: transparent;
	box-sizing: border-box;
	cursor: pointer;
}

.btn-buy span {
	font-size: 1.4vw;
	line-height: 130%;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	z-index: 2;
}

.btn-buy::before {
	content: '';
	position: absolute;
	top: 0;
	right: -50;
	bottom: 0;
	left: 0;
	border-right: 50 solid transparent;
	border-bottom: 80 solid #3E4162;
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
	box-sizing: border-box;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

.btn-buy:hover {
	color: #cdc4cc;
}

.btn-buy:hover::before {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.btn-buy:active,
.btn-buy:hover {
	outline-width: 0;
}

.login-form {
	width: 100%;
	max-width: 897px;
	margin: 0 auto;
	box-sizing: border-box;
	margin-left: 23.2%;
	margin-top: 22vh;
	padding: 16px;
	border-radius: 8px;
	position: relative;
}

.login-form p {
	color: var(--color-white);
	margin-bottom: 2em;
}

.order-form input[type="submit"] {
	font-size: 1em;
}

.login-form::after,
.order-form::after {
	content: '';
	display: block;
	position: relative;
	clear: both;
}

.card-grid label {
	font-size: 1.5vw;
	font-family: 'Montserrat', sans-serif;
	position: relative;
	padding: 8px;
	grid-area: 1 / 1 / 2 / 2;
	align-self: end;
	justify-self: end;
}

.card-grid.bg_si2 label {
	grid-area: 1 / 3 / 2 / 4;
	align-self: end;
	justify-self: start;
	padding: 10 10 10 10;
}

.form-row {
	position: relative;
	margin-bottom: 4em;
}

.form-row input {
	width: 100%;
	padding: 8px 8px;
	border: solid 1px var(--color-white);
	font-size: 1.3em;
	line-height: 1.35em;
	outline: none !important;
	-webkit-appearance: none;
	transition: border-color 300ms;
	box-sizing: border-box;
}

.card-grid label span {
	color: white;
	font-size: 1.5vw;
	font-family: 'Montserrat', sans-serif;
}

label > input[type="checkbox"] + span::after {
	content: 'In den Warenkorb';
}

label > input[type="checkbox"]:checked + span::after {
	content: 'Im Warenkorb';
}

.card-grid label > input[type="checkbox"]:checked + span::after {
	color: #217ca6;
}

label.form-row {
	position: relative;
	display: inline-block;
	width: 100%;
}

label.form-row > span {
	position: absolute;
	left: -2px;
	font-size: 1.4em;
	top: -1.4em;
	background: #fff;
	padding: 0 4px;
	color: #aaa;
	transition: color 300ms;
	box-sizing: border-box;
}

label.inline-row input {
	border-radius: 4px 0 0 4px;
	border-right: none;
}

.order-form .form-row span,
.login-form .form-row span {
	background-color: rgb(26, 26, 31);
	color: var(--color-white);
	border-radius: 1px;
}

.order-form .form-row input,
.login-form .form-row input {
	background-color: rgb(26, 26, 31);
	color: var(--color-white);
}

.form-row input:focus {
	border-color: var(--color-blue);
}

.form-row input:focus + span,
.form-row input:focus + label {
	color: var(--color-blue);
}

.form-row input.error {
	border-color: #a62109;
}

.form-row input.error + span,
.form-row input.error + label {
	color: #a62109;
}

.form-row input[readonly],
.form-row input[readonly]:focus + span,
.form-row input[readonly]:focus + label {
	color: #aaa;
}

.form-row input[readonly]:focus {
	border-color: #aaa;
}

.form-row input[type="submit"] {
	width: auto;
	left: 100%;
	position: absolute;
	top: 0;
	margin-left: -8px;
	float: none;
	font-size: 1em;
	height: 100%;
	border-radius: 0 4px 4px 0;
}

input.inline-button[type="submit"] {
	float: none;
	border-radius: 0 4px 4px 0;
	margin-right: 8px;
	border: solid 2px var(--color-main);
}

input.inline-button[type="submit"].delete {
	border: solid 2px var(--color-error);
}

.login-form>label.form-row {
	width: 100%;
}

.username {
	font-size: 1.3em;
	margin-bottom: 0.5em;
	display: block;
}

center,
form.feuser-form {
	margin: 0 auto 2em;
	max-width: 320;
	display: block;
}

form.feuser-form::after {
	content: '';
	display: block;
	clear: both;
}

form.feuser-form input[type="submit"] {
	width: 100%;
	display: block;
}

center > .form-row {
	display: block;
	width: 100%;
}

.login-form > .delete {
	width: 100%;
}

.backend-form label.form-row {
	width: auto;
}

label > input[type="checkbox"] {
	opacity: 0;
	position: absolute;
	width: 0;
	height: 0;
}

label > input[type="checkbox"] + span::before {
	font-family: var(--font-icon);
	content: '\e8cc';
	display: inline-block;
	font-size: 5vw;
	text-align: center;
	width: 5vw;
	height: 5vw;
	line-height: 5vw;
	color: #f8f8f8;
	border-radius: 50%;
	transition: color 300ms, border-color 200ms, box-shadow 300ms;
	cursor: pointer;
	position: absolute;
	margin: -5.5vw 0 0 8.8vw;
}

label > input[type="checkbox"]:checked + span::before {
	color: #217ca6;
	margin: -5.5vw 0 0 6vw;
	animation: elastic 0.7s linear 0s 1 normal;
}

@keyframes elastic {
	0% {
		transform: scale(1);
	}

	30% {
		transform: scaleX(1.25) scaleY(0.75);
	}

	40% {
		transform: scaleX(0.75) scaleY(1.25);
	}

	60% {
		transform: scaleX(1.15) scaleY(0.85);
	}

	100% {
		transform: scale(1);
	}
}

.bg_si2 label > input[type="checkbox"] + span::before {
	margin: -5.5vw 0 0 0;
}

.bg_si2 label > input[type="checkbox"]:checked+span::before {
	color: #217ca6;
	margin: -5.5vw 0 0 0;
}

div.header {
	position: relative;
	margin: 0 0 0 0;
	padding: 0;
	line-height: 0;
}

.header img {
	width: 100%;
	height: 51vw;
}

body.template-shop h1 {
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 3vw;
	line-height: 3vw;
	position: absolute;
	top: 64px;
	left: 20;
	margin: 0;
}

.card-grid {
	display: grid;
	grid-template-rows: 1fr;
	gap: 0 0;
	grid-template-areas:
		". .";
	margin: 0 0 0 0;
}

.card-grid.bg_si1 {
	grid-template-columns: 28% 10% 62%;
}

.card-grid.bg_si2 {
	grid-template-columns: 28% 10% 62%;
}

.card-grid.bg_si3 {
	grid-template-columns: 28% 10% 62%;
}

.bg_si1 {
	background-color: #C8563C;
}

.bg_si2 {
	background-color: #3E4162;
}

.bg_si3 {
	background-color: #C2A828;
}

.card-info {
	padding: 16px;
}

.bg_si1 .card-info {
	grid-area: 1 / 1 / 2 / 3;
}

.bg_si2 .card-info {
	grid-area: 1 / 2 / 2 / 4;
}

.bg_si3 .card-info {
	grid-area: 1 / 1 / 2 / 3;
}

.card-grid img {
	grid-area: 1 / 2 / 2 / 4;
	width: 100%;
	justify-self: end;
}

.bg_si2 img {
	grid-area: 1 / 1 / 2 / 3;
}

.card-grid h3 {
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #eee;
	font-size: 8vw;
	letter-spacing: -0.8vw;
}

.card-grid h4 {
	text-align: right;
	font-family: 'Montserrat', sans-serif;
	font-weight: normal;
	color: #eee;
	font-size: 2vw;
	line-height: 2vw;
	margin: 0.1vw 9vw 2.9vw 0;
}

.card-grid p {
	color: #eee;
	font-size: 1.4vw;
	line-height: 130%;
	margin-right: 9vw;
	text-align: right;
	font-family: 'Montserrat', sans-serif;
}

.card-grid.bg_si2 p {
	margin: 0 2vw 0 9vw;
	text-align: left;
}

.card-grid.bg_si2 .card-info {
	justify-self: start;
}

.clear {
	clear: both;
}

.inp-submit {
	box-sizing: border-box;
	-webkit-transition: 0.5s ease-in-out;
	transition: 0.5s ease-in-out;
}

header {
	background-color: transparent;
	height: 46px;
	margin: 0;
	margin-top: 0;
	padding: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 100;
}

header nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 46px;
	gap: 0 0;
	grid-template-areas:
		"left center right";
}

#nav-left {
	grid-area: left;
	justify-self: start;
	list-style: none;
	margin: 0;
	padding: 0;
}

#nav-right {
	grid-area: right;
	justify-self: end;
	list-style: none;
	margin: 0;
}

#nav-left li,
#nav-right li {
	color: #eee;
	line-height: 46px;
	font-size: 14px;
	padding: 0 14px 0 14px;
	cursor: pointer;
	transition: background-color 200ms;
}

#nav-left li:hover,
#nav-right li:hover {
	background-color: #3E4162;
}

#nav-left li a,
#nav-right li a {
	color: inherit;
	text-decoration: none;
}

/* Login Userpanel */

.userpanel-overlay {
	background-color: rgba(0, 0, 0, 0);
	position: fixed;
	height: 100%;
	width: 100%;
	left: 0;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	z-index: 49;
	display: none;
}

.userpanel-overlay.active {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.6);
}

.userpanel-container {
	position: fixed;
	height: 100%;
	width: 100%;
	max-width: 360;
	right: 0;
	background-color: rgba(210, 210, 210, 0.7);
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(+100%, 0, 0);
	visibility: visible;
	transition: all 0.5s ease 0s;
	-webkit-transition: all 0.5s ease 0s;
	z-index: 50;
}

.userpanel-container.active {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	visibility: visible;
}

div.userpanel-container form.login-form h2 {
	margin-bottom: 1em;
	font-weight: 100;
	font-size: 2.5rem;
	padding-left: 1em;
}

div.userpanel-container.active {
	width: 35%;
	min-width: 450px;
}

div.userpanel-container form.login-form {
	margin: 0 auto;
	margin-top: 22vh;
	padding: 0 7%;
}

form.login-form .pwreset {
	position: relative;
}

div.userpanel-container form.login-form .order-form .form-row input,
div.userpanel-container form.login-form .form-row input {
	background-color: unset;
	color: var(--color-text);
	border: 2px solid var(--color-text);
	font-weight: 100;
	font-size: 2.8rem;
}
form.login-form .form-row span {
	background-color: unset;
	color: var(--color-text);
}

.card-grid.bg_si1 h3 {
	margin-bottom: 0;
}

.card-grid.bg_si2 h3 {
	text-align: left;
}

.card-grid.bg_si2 h4 {
	margin: 0.1vw 0 0.1vw 9vw;
}

body.template-backend .username {
	margin-bottom: 1.5em;
}

body.template-backend .backend-form h3 {
	margin-bottom: 1.5em;
}

body.template-checkout header,
body.template-order header,
body.template-pwreset header,
body.template-login header {
	display: none;
}

.pwreset {
	font-size: 1.2em;
	position: absolute;
	left: 16px;
	bottom: 16px;
	text-decoration: none;
	color: var(--color-blue);
}

.success {
	color: #66D944;
}

.error {
	color: #a6213c;
}

.form-panel {
	width: 100%;
	max-width: 400;
	margin: 0 auto;
	box-sizing: border-box;
}

body.template-register h1,
body.template-order h1,
body.template-datenschutz h1,
body.template-impressum h1,
body.template-pwreset h1,
body.template-login h1 {
	color: white;
	font-weight: bold;
	font-family: var(--font-headline);
	font-size: 2.5em;
	line-height: 120%;
	position: absolute;
	top: 20vh;
	left: 24.1%;
	margin: 0;
}

body.template-datenschutz main,
body.template-impressum main,
body.template-checkout main,
body.template-order main {
	margin: 0 auto 0 auto;
	max-width: 768px;
}

body.template-order ul {
	margin: 5rem auto 2rem auto;
	background-color: rgba(26, 26, 31, 0.8);
	color: #fff;
	padding: 16px 16px 16px 32px;
	border-radius: 8px;
	box-shadow: 1px 1px 4px rgba(26, 26, 31, 0.8);
	max-width: 360;
	position: relative;
}

body.template-impressum main,
body.template-datenschutz main {
	display: table;
	width: 100%;
	max-width: none;
}

body.template-impressum article,
body.template-datenschutz article {
	margin: 128px auto 0 auto;
	background-color: rgba(26, 26, 31, 0.8);
	color: #fff;
	padding: 16px;
	border-radius: 8px;
	box-shadow: 1px 1px 4px rgba(26, 26, 31, 0.8);
	position: relative;
	max-width: 920;
}

body.template-impressum footer,
body.template-datenschutz footer {
	color: #fff;
}

.order-form .cart {
	padding: 2px;
	margin: 32px 0 32px 0;
	list-style: none;
}

.order-form .cart-item {
	border: 1px solid rgba(26, 26, 31, 0.8);
}

cart-remove {
	display: inline-block;
	cursor: pointer;
}

cart-remove::after {
	content: 'X';
	color: red;
}

body.template-order main {
	padding-top: 18em;
}

table {
	background: rgba(255, 255, 255, 0.7);
	border-radius: 2px;
	border: solid 1px black;
	color: var(--color-text);
}

table th {
	color: var(--color-blue);
}

/* Backend */
body.template-backend h1 {
	margin-top: 1.5em;
}

body.template-backend main {
	padding: 0 10%;
}

body.template-backend footer {
	display: none;
}

body.template-backend nav[aria-label="Navigation des Portals"] {
	display: none;
}

body.template-backend input[type="submit"] {
	border-radius: 12px;
}

body.template-backend label[class="form-row"] {
	margin-right: 3em;
}

body.template-backend span.username {
	color: var(--color-main);
}

body.template-backend {
	padding-bottom: 5em;
}

body.template-backend .backend-form h3 {
	margin-bottom: 2.5em;
	margin-top: 1em;
}

body.template-backend label.inline-row input{
	border-right: unset;
	border: solid 1px var(--color-white);
}

/* Backend Login */

body.template-belogin nav[aria-label="Navigation des Portals"] {
	display: none;
}

body.template-belogin footer {
	display: none;
}

body.template-belogin main {
	margin: 0 auto;
	padding: 10% 25%;
}

body.template-belogin .login-form {
	margin-left: unset;
	margin-top: unset;
	padding: unset;
}

body.template-belogin input[type="submit"] {
	border-radius: 12px;
}

body.template-belogin .order-form .form-row input,
body.template-belogin .login-form .form-row input {
	background-color: unset;
	color: black;
	border: solid 1px #3E4162;
}

body.template-belogin .order-form .form-row span,
body.template-belogin .login-form .form-row span {
	background-color: unset;
	color: black;
}

body.template-belogin h3 {
	font-size: 1.7em;
	margin-bottom: 2em;
}

body.template-belogin h1 {
	font-size: 3em;
}

body.template-belogin input[type="submit"]:hover,
body.template-belogin input[type="submit"]:focus,
body.template-belogin input[type="submit"]:active {
	background: #0a409a99;
	color: #666;
	transition: all 0.2s;
}
