section[content-type="error"] .inner-content {
	color:#e33;
	background:#eee;
	border-radius:8px;
	border:solid 2px #e33;
	z-index:1;
	position:relative;
}

section[content-type="error"]::after {
	content:'';
	background:#e334;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:70%;
}
