download-wrap {
	display: flex;
	font-size: 0.8em;
	align-items: center;
	box-shadow: 0 3px 6px #00000063;
	transition: box-shadow 0.5s;
	background: var(--dlw-gray-100);
}

download-wrap:hover {
	box-shadow: 0 12px 24px #00000063;
}

download-text {
	padding:0.7rem;
	flex: 1 1 70%;
	display: flex;
	align-items: center;
}

download-wrap a {
	padding: 0.7rem;
	min-width:100%;
	text-align:center;
}

download-icon {
	flex: 1 1 30%;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: capitalize;
	background: var(--dlw-blue);
	color: white;
}

download-icon a {
	color: white;
	text-decoration: none !important;
}

/* Fix the drop-shadow */
html body section[tab-box-type="support"] tab-box-content section[content-type="download"] {
	margin-bottom:1rem;
}
