.navigation {
	display: grid;
	gap: 0 0;
	grid-template-areas: "left center right";
	grid-template-columns: auto 1fr auto;
	/* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
	grid-template-rows: calc(var(--header-height) - 2rem);
	& .items {
		align-items: center;
		display: flex;
		flex-wrap: nowrap;
		gap: 2.6rem;
		grid-auto-flow: column;
		height: calc(var(--header-height) - 2rem);
		justify-content: space-between;
		list-style-type: none;
		& > li {
			height: calc(var(--header-height) - 2rem);
			list-style-type: none;
		}
	}
	& .left {
		grid-area: left;
	}
	& .right {
		grid-area: right;
	}
}
