.navigation {
	display: grid;
	grid-template-columns: auto 1fr auto;
	grid-template-rows: calc(var(--header-height) - 2rem);
	gap: 0px 0px;
	grid-template-areas:
    "left center right"; 
	& .items {
		align-items: center;
		display: flex;
		flex-wrap: nowrap;
		gap: 2.6rem;
		grid-auto-flow: column;
		height: calc(var(--header-height) - 2rem);
		justify-content: space-between;
		list-style-type: none;
		& > li {
			height: calc(var(--header-height) - 2rem);
			list-style-type: none;
		}
	}
	& .left {
		grid-area: left;
	}
	& .right {
		grid-area: right;
	}
}
