.navigation {
	--navigation-height: calc(var(--header-height) - 2rem);
	display: table;
	width: 100%;
	& .items {
		align-items: center;
		display: flex;
		flex-wrap: nowrap;
		gap: 2.6rem;
		grid-auto-flow: column;
		height: var(--navigation-height);
		justify-content: space-between;
		list-style-type: none;
		& > li {
			height: var(--navigation-height);
			list-style-type: none;
		}
	}
	& .left {
		float: left;
	}
	& .right {
		float: right;
	}
}
