.header {
	background-color: #161718;
	color: white;
	height: var(--header-height);
	padding: 1rem 0;
	position: sticky;
	top: 0;
	transition: background-color 0.3s;
	width: 100%;
	z-index: 10;
	&.expanded {
		backdrop-filter: blur(1rem);
		background-color: hsl(0, 0%, 0%, 0.5);
	}
}
