.shell {
	--color-link: #5e7ff1;
	--header-height: 7rem;
	background-color: black;
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	& .content {
		background-color: white;
	}
}
