glossary-entry {
	display:none;
	box-sizing:border-box;
	border-right:solid var(--content-padding-quarter) var(--dlw-blue);
}

glossary-entry > modal-close {
	color:var(--dlw-blue);
}

glossary-entry-content {
	width: 100%;
	max-width: var(--content-width);
	margin:0 0 0 auto;
	display:block;
	border-left:solid var(--content-padding-quarter) var(--background-color);
	padding: var(--content-padding);
}
