.s_dialogtext,
.dialogtext {
	color:#257DA7;
	text-align: left;
	font-style:italic;
	font-size:1em;
	font-family:var(--font-content);
}

section[content-type="text-and-image"]::after {
	content:'';
	display:block;
	clear:both;
}

section[content-type="text-and-image"] figcaption {
	font-family: var(--font-headlines);
	font-weight: 400;
	font-size: 0.8em;
	line-height: 1.5em;
	margin-top: 0.5em;
}
