.s_dialogtext,
.dialogtext {
	color:#257DA7;
	text-align: left;
	font-weight:300;
	font-style:italic;
	font-size:1em;
	font-family:var(--font-content);
}

section[content-type="text-and-image"]::after {
	content:'';
	display:block;
	clear:both;
}

section[content-type="text-and-image"] figcaption {
	padding-right: 0;
}
