video {
	display:block;
	width:100%;
	height:auto;
}

section[content-type="video"] > inner-content > details > summary::marker {
	content: '';
	display: none;
}

section[content-type="video"] {
	position:relative;
}

section[content-type="video"] > inner-content > details > summary::-webkit-details-marker {
	content: '';
	display: none;
}

main > section[content-type="video"]::after {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:50%;
	background: var(--background-blue);
	z-index:0;
}

section[content-type="video"] > inner-content {
	position:relative;
	z-index:1;
}

figure.videofigure > figcaption {
	padding:0.5em 0 0;
	font-size:0.8em;
	font-style:italic;
}

av-play-pause {
	position: relative;
	width: 1em;
	height: 1em;
	cursor:pointer;
}

av-play-pause::before {
	position: absolute;
	font-family: icomoon;
	content: "\ea1c";
	color: white;
	opacity: 1;
	transition: opacity 300ms;
}
av-play-pause.active::before {
	opacity: 0;
}

av-play-pause::after {
	position: absolute;
	font-family: icomoon;
	content: "\ea1d";
	color: white;
	opacity: 0;
	transition: opacity 300ms;
}

av-play-pause.active::after {
	opacity: 1;
}

av-wrap {
	position: relative;
	display:block;
}

av-controls {
	position: absolute;
	bottom: 0;
	width: 100%;
}

av-controls::after {
	content:'';
	clear:both;
	position:relative;
	display:block;
}

av-controls-left {
	float:left;
	text-align:left;
}

av-controls-right {
	float:right;
	text-align:right;
}

av-controls-left > *,
av-controls-right > * {
	display:inline-block;
}

av-fullscreen::before {
	position: relative;
	width: 1em;
	height: 1em;
	font-family: icomoon;
	content: "\e906";
	color: white;
	cursor: pointer;
}

av-fullscreen.active::before{
	position: relative;
	width: 1em;
	height: 1em;
	font-family: icomoon;
	content: "\e907";
	cursor:pointer;

}

[figure-type="video"] details.license > summary {
    margin-top: 0.5em;
} 

av-volume-button::before{
	position: relative; 
	width: 1em;
	height: 1em;
	font-family: icomoon;
	content: "\ea26";
	color: white;
	cursor: pointer;
}

av-volume-button.active::before{
	position: relative; 
	width: 1em;
	height: 1em;
	font-family: icomoon;
	content: "\ea29";
	color: white;
	cursor: pointer;
}
