.footer {
	background-color: white;
	font-size: 1.6rem;
	font-weight: var(--font-weight-bold);
	padding: 3rem 0;
	& .items {
		display: inline-grid;
		grid-gap: 2rem 4rem;
		list-style-type: none;
		@media (--tablet) {
			grid-auto-flow: column;
		}
		& .item {
			& .link {
				color: green;
			}
		}
	}
}
