.product-list {
	& .items {
		display: flex;
		flex-wrap: wrap;
		gap: 30px;
		margin-bottom: 3rem;
		@media (--laptop) {
			gap: 60px;
		}
		& .item {
			list-style-type: none;
			width: 100%;
			@media (--laptop) {
				width: 50%;
			}
			&:nth-child(4n + 1) {
				--product-color: #c8563c;
			}
			&:nth-child(4n + 2) {
				--product-color: #3e4162;
			}
			&:nth-child(4n + 3) {
				--product-color: #c2a828;
			}
			&:nth-child(4n) {
				--product-color: #261d18;
			}
		}
	}
}
