<div class="header">
	<img src="/proexly/public/jpg/3.jpg" alt="">
	<h1>Das Portal für <br><span>Tiermedizin</span></h1>
</div>

<form class="shop-cart" method="POST" action="<%- abslink %>/checkout">
	<div class="card-grid bg_si1">
		<img src="/proexly/public/jpg/1.jpg" alt="Bartagame">
		<div class="card-info">
			<h3>mVet</h3>
			<h4>Handbuch für<br>Exotentiermediziner</h4>
			<p>Ganz, ganz tolles Kapitel, nur 9,99&nbsp;EUR!</p>
		</div>
		<label class="shop-check">
			<input type="checkbox" name="kapitel1" value="orderItem" <%- cart.kapitel1 !== undefined ? "checked" : "" %>/>
			<span></span>
		</label>
	</div>

	<div class="card-grid bg_si2">
	 <img src="/proexly/public/jpg/2.jpg" alt="Bartagame">
		<div class="card-info">
			<h3>Tagungsbände</h3>
			<p>Ganz, ganz tolles Kapitel, nur 19,99&nbsp;EUR!</p>
		</div>
		<label class="shop-check">
			<input type="checkbox" name="kapitel2" value="orderItem" <%- cart.kapitel2 !== undefined ? "checked" : "" %>/>
			<span></span>
		</label>
	</div>

	<div class="card-grid bg_si3">
		<img src="/proexly/public/jpg/3.jpg" alt="Bartagame">
		<div class="card-info">
			<h3>Kapitel 3</h3>
			<p>Ganz, ganz tolles Kapitel, nur 29,99&nbsp;EUR!</p>
		</div>
		<label class="shop-check">
			<input type="checkbox" name="kapitel3" value="orderItem" <%- cart.kapitel3 !== undefined ? "checked" : "" %>/>
			<span></span>
		</label>
	</div>
	<div class="inp-submit">
		<button class="btn-buy" type="submit">
			<span>Zum Warenkorb</span>
		</button>
		<div class="clear"></div>
	</div>

</form>
