section[tab-box-type="support"] tab-box-header {
	display:none;
}

section[tab-box-type="support"] p,
section[tab-box-type="support"] h2,
section[tab-box-type="support"] h3,
section[tab-box-type="support"] h4,
section[tab-box-type="support"] h5,
section[tab-box-type="support"] h6,
section[tab-box-type="support"] li,
section[tab-box-type="support"] span,
section[tab-box-type="support"] figcaption {
	font-family: "Montserrat";
	font-weight: 400;
}

section[tab-box-type="support"] p {
	font-size: 2em;
	text-align: center;
}

section[tab-box-type="support"] p:fullscreen {
	font-size: 3vw;
	text-align: center;
}

section[tab-box-type="support"] h2 {
	font-size: 1.2em;
}

section[tab-box-type="support"] h3 {
	font-size: 1em;
}

section[tab-box-type="support"] button {
	width:1.5em;
	height:1.5em;
	font-size:2em;
	display:inline-block;
	margin:0 0.5em;
	text-align:center;
	vertical-align:middle;
	line-height:1.5em;
	color:var(--support-slider-main-color);
	border-radius:50%;
	box-shadow: 2px 2px 8px #000;
	cursor:pointer;
}

section[tab-box-type="support"] button::after {
	content: "";
	font-family:icomoon;
}

section[tab-box-type="support"] button[button-function="media"]::after {
	content: "M";
	line-height:1em;
}

section[tab-box-type="support"] button[button-function="exit"]::after {
	content: "\2716";
	line-height:1em;
}

section[tab-box-type="support"] button[button-function="previous"]::after {
	content: "\e902";
}

section[tab-box-type="support"] button[button-function="next"]::after {
	content: "\e901";
}

section[tab-box-type="support"] tab-box-content-wrap {
	display:block;
	position:relative;
	width:100%;
	min-height:600px;
	border-color: var(--support-slider-main-color);
	background:var(--support-slider-background-color);
}

section[tab-box-type="support"] tab-box-content-wrap:fullscreen {
	border:none;
}

section[tab-box-type="support"] control-wrap {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:4em;
	padding-top:0.4em;
	box-sizing: border-box;
	text-align:right;
	background: var(--support-slider-main-color);
	transition:background-color 300ms;
	z-index:20;
}

section[tab-box-type="support"].start-slide-active control-wrap,
section[tab-box-type="support"].end-slide-active control-wrap {
	background-color:transparent;
}

section[tab-box-type="support"] start-slide,
section[tab-box-type="support"] end-slide {
	display:block;
	transition:opacity 300ms;
	opacity:0;
	cursor:pointer;
}

section[tab-box-type="support"] .active {
	z-index:10;
	opacity:1;
}

section[tab-box-type="support"] end-slide::before,
section[tab-box-type="support"] start-slide::before {
	content:'';
	position:absolute;
	display:block;
	width:24em;
	height:24em;
	left:50%;
	top:50%;
	margin-left:-12em;
	margin-top:-12em;
	background:url("/resources/foerderfuchs.svg") no-repeat;
	background-size:contain;
}

section[tab-box-type="support"] slider-info {
	font-size:2em;
	color:#fff;
	font-weight:bold;
	line-height:1.5em;
	vertical-align:middle;
	display:inline-block;
}

section[tab-box-type="support"] start-slide::after {
	content:"Los geht's!";
	position:absolute;
	text-align:center;
	display:block;
	left:0;
	top:50%;
	width:100%;
	margin-top:3.5em;
	font-size:2em;
}

section[tab-box-type="support"] end-slide::after {
	content:"Du bist fertig!";
	position:absolute;
	text-align:center;
	display:block;
	left:0;
	top:50%;
	width:100%;
	margin-top:3.5em;
	font-size:2em;
}

section[tab-box-type="support"] control-wrap::after {
	content:'';
	display:block;
	position:relative;
	clear:both;
}

section[tab-box-type="support"] button[button-function="exit"] {
	float:left;
}

section[tab-box-type="support"] button[button-function="media"] {
	position:absolute;
	left:50%;
	margin-left:-1em;
	top:0.2em;
	opacity:0;
	transition:opacity 300ms;
}

section[tab-box-type="support"].has-media button[button-function="media"] {
	opacity:1;
}

section[tab-box-type="support"].start-slide-active button[button-function="exit"],
section[tab-box-type="support"].start-slide-active button[button-function="media"],
section[tab-box-type="support"].start-slide-active button[button-function="previous"],
section[tab-box-type="support"].end-slide-active button[button-function="media"],
section[tab-box-type="support"].end-slide-active button[button-function="previous"],
section[tab-box-type="support"].end-slide-active button[button-function="next"],
section[tab-box-type="support"].end-slide-active slider-info,
section[tab-box-type="support"].start-slide-active slider-info {
	display:none;
}

section[tab-box-type="support"] tab-box-content {
	padding: 0;
	margin: 0 0 134px 0;
	position: relative;
}

section[tab-box-type="support"] tab-box-content [content-type="headline"],
section[tab-box-type="support"] tab-box-content [content-type="text-and-image"],
section[tab-box-type="support"] tab-box-content [content-type="video"],
section[tab-box-type="support"] tab-box-content [content-type="audio"],
section[tab-box-type="support"] tab-box-content [content-type="embedding"],
section[tab-box-type="support"] tab-box-content [content-type="exercise"],
section[tab-box-type="support"] tab-box-content [content-type="download"],
section[tab-box-type="support"] tab-box-content [content-type="gallery"] {
	max-width: calc(100% - var(--content-padding-half));
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 16px;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: calc(100vh - 7em);
	overflow-y: auto;
}

section[tab-box-type="support"] tab-box-content [content-type="video"],
section[tab-box-type="support"] tab-box-content [content-type="audio"],
section[tab-box-type="support"] tab-box-content [content-type="embedding"],
section[tab-box-type="support"] tab-box-content [content-type="exercise"],
section[tab-box-type="support"] tab-box-content [content-type="download"],
section[tab-box-type="support"] tab-box-content [content-type="galery"] {
	margin-top: 16px;
}

section[tab-box-type="support"] tab-box-content [content-type="video"],
section[tab-box-type="support"] tab-box-content [content-type="audio"],
section[tab-box-type="support"] tab-box-content [content-type="embedding"] {
	max-width: var(--content-width);
}

section[tab-box-type="support"] tab-box-content inner-content {
	justify-self: center;
	align-self: center;
	width: 100%;
}

section[tab-box-type="support"] tab-box-content [content-type="gallery"] inner-content {
	margin: 0 auto;
	max-width: none;
}

section[tab-box-type="support"] tab-box-content-wrap:fullscreen tab-box-content {
	padding: 0;
	height: calc(100vh - 4em);
	overflow-y: auto;
	position: relative;
}

section[tab-box-type="support"] .ql-toolbar button {
	font-size: 13px;
	margin: 0;
	border-radius: 0%;
	box-shadow: none;
}

section[tab-box-type="support"] button[button-type="fullscreen"] {
	width: 30px;
	height: 30px;
	margin: -45px -34px 0 0;
}
