section[tab-box-type="support"] tab-box-header {
	display:none;
}

section[tab-box-type="support"] control-wrap button {
	width:1.5em;
	height:1.5em;
	font-size:2em;
	display:inline-block;
	margin:0 0.5em;
	text-align:center;
	vertical-align:middle;
	line-height:1.5em;
	background: white;
	color:var(--support-slider-main-color);
	border: none;
	border-radius:50%;
	box-shadow: 0 3px 6px #00000040;
	cursor:pointer;
}

main ul > li::before {
	border-color: var(--support-slider-main-color);
}

section[tab-box-type="support"] button::after {
	content: "";
	font-family:icomoon;
}

section[tab-box-type="support"] button[button-function="exit"]::after {
	content: "\2715";
	line-height:1em;
	font-family: sans-serif;
}

section[tab-box-type="support"] button[button-function="previous"]::after {
	content: "\e902";
}

section[tab-box-type="support"] button[button-function="next"]::after {
	content: "\e901";
}

section[tab-box-type="support"] tab-box-content-wrap {
	position:relative;
	width:100%;
	min-height:600px;
	border-color: var(--support-slider-main-color);
	background:var(--support-slider-background-color);
	overflow:hidden;
}

section[tab-box-type="support"] tab-box-content {
	height:auto;
	max-height:calc(100% - 6rem);
	padding: 0;
	margin: 0;
	position: relative;
	overflow:auto;
	padding-top: var(--content-padding-quarter);
	padding-bottom: var(--content-padding-quarter);
}

section[tab-box-type="support"] tab-box-content-wrap:fullscreen {
	border:none;
}

section[tab-box-type="support"] control-wrap {
	position:absolute;
	bottom:0;
	left:0;
	width:100%;
	height:6rem;
	padding-top:0.5rem;
	box-sizing: border-box;
	text-align:right;
	background: var(--support-slider-main-color);
	transition:background-color 300ms;
	z-index:20;
}

section[tab-box-type="support"].start-slide-active control-wrap,
section[tab-box-type="support"].end-slide-active control-wrap {
	background-color:transparent;
}

section[tab-box-type="support"] start-slide,
section[tab-box-type="support"] end-slide {
	display:none;
	position: absolute;
	width: 100%;
	height: 100%;
	transition:opacity 300ms;
	opacity:0;
	cursor:pointer;
}

section[tab-box-type="support"] tab-box-content-wrap > .active {
	z-index:10;
	opacity:1;
	display:block;
}

section[tab-box-type="support"] end-slide::before,
section[tab-box-type="support"] start-slide::before {
	content:'';
	position:absolute;
	display:block;
	width:24em;
	height:24em;
	left:50%;
	top:50%;
	margin-left:-12em;
	margin-top:-12em;
	background:url("/resources/svg/foerderfuchs.svg") no-repeat;
	background-size:contain;
}

section[tab-box-type="support"] end-slide {
	background:url("/resources/svg/foerderfuchs_confetti.svg") no-repeat;
	background-size:cover;
	position:absolute;
	width:100%;
	height:100%;
}

section[tab-box-type="support"] end-slide::before {
	width:32em;
	height:32em;
	margin-left:-16.5em;
	margin-top:-17em;
	background-image:url("/resources/svg/foerderfuchs_party.svg");
	background-size:contain;
}

section[tab-box-type="support"] slider-info {
	font-size:2em;
	color:#fff;
	font-weight:bold;
	line-height:1.5em;
	vertical-align:middle;
	display:inline-block;
}

section[tab-box-type="support"] start-slide::after {
	content:"Los geht's!";
	position:absolute;
	text-align:center;
	display:block;
	left:0;
	top:50%;
	width:100%;
	margin-top:3.5em;
	font-size:2em;
}

section[tab-box-type="support"] end-slide::after {
	content:"Du bist fertig!";
	position:absolute;
	text-align:center;
	display:block;
	left:0;
	top:50%;
	width:100%;
	margin-top:3.5em;
	font-size:2em;
}

section[tab-box-type="support"] control-wrap::after {
	content:'';
	display:block;
	position:relative;
	clear:both;
}

section[tab-box-type="support"] button[button-function="exit"] {
	float:left;
}

section[tab-box-type="support"] button[button-function="media"]::before {
	content:"Vorlesen";
}

section[tab-box-type="support"] button[button-function="media"]::after {
	border-left:solid 0.85em var(--support-slider-main-color);
	border-top:solid 0.5em transparent;
	border-bottom:solid 0.5em transparent;
	position:absolute;
	right:0.4em;
	top:50%;
	margin-top:-0.5em;
}

section[tab-box-type="support"] button[button-function="media"] {
	position:absolute;
	left:2.25em;
	top:0.15em;
	opacity:0;
	transition:opacity 300ms;
	width:auto;
	border-radius:0.25em;
	padding-right:2em;
	padding-left:0.35em;
}

@media only screen and (min-width: 1200px) {
	section[tab-box-type="support"] button[button-function="media"] {
		left:50%;
		transform: translateX(-50%);
	}
}

section[tab-box-type="support"].has-media button[button-function="media"] {
	opacity:1;
}

section[tab-box-type="support"] details.license,
section[tab-box-type="support"] section[content-type="gallery"] button[button-type="fullscreen"],
section[tab-box-type="support"] figure[figure-type="picture"] button[button-type="fullscreen"],
section[tab-box-type="support"].start-slide-active button[button-function="exit"],
section[tab-box-type="support"].start-slide-active button[button-function="media"],
section[tab-box-type="support"].start-slide-active button[button-function="previous"],
section[tab-box-type="support"].end-slide-active button[button-function="media"],
section[tab-box-type="support"].end-slide-active button[button-function="previous"],
section[tab-box-type="support"].end-slide-active button[button-function="next"],
section[tab-box-type="support"].end-slide-active slider-info,
section[tab-box-type="support"].start-slide-active slider-info {
	display:none;
}

section[tab-box-type="support"] tab-box-content > section {
	width:100%;
	max-width: calc(var(--content-width) - var(--content-padding));
	padding:0;
	margin:0 auto var(--content-padding-half);
}

@media only screen and (max-width: 900px) {
	section[tab-box-type="support"] tab-box-content > section {
		max-width: calc(100% - var(conntent-padding-half));
	}
}

section[tab-box-type="support"] tab-box-content > section:last-child {
	margin-bottom:0;
}

section[tab-box-type="support"] tab-box-content inner-content {
	width: 100%;
}

section[tab-box-type="support"] tab-box-content [content-type="gallery"] inner-content {
	margin: 0 auto;
	max-width: none;
}

section[tab-box-type="support"] .ql-toolbar button {
	font-size: 13px;
	margin: 0;
	border-radius: 0%;
	box-shadow: none;
}

section[tab-box-type="support"] tab-box-content-wrap tab-box-source {
	display:none;
}

section[tab-box-type="support"] [content-type="video"] media-fullscreen,
section[tab-box-type="support"] [content-type="video"] media-volume-slider,
section[tab-box-type="support"] [content-type="video"] media-volume-button,
section[tab-box-type="support"] [content-type="video"] media-seekbar,
section[tab-box-type="support"] [content-type="video"] media-timestamp-wrapper,
section[tab-box-type="support"] [content-type="audio"] media-fullscreen,
section[tab-box-type="support"] [content-type="audio"] media-volume-slider,
section[tab-box-type="support"] [content-type="audio"] media-volume-button {
	display: none;
}

section[tab-box-type="support"] button[button-type="next-slide"],
section[tab-box-type="support"] button[button-type="previous-slide"] {
	width: 44px;
	height: 44px;
	font-size: 2rem;
}

section[tab-box-type="support"] figure[figure-type="picture"] img {
	max-height:100%;
	object-fit:contain;
}

section[tab-box-type="support"] download-wrap {
	font-size: 1.5rem;
}

section[tab-box-type="support"] button[button-type="license"] {
	right: 1rem;
}

@media only screen and (max-width: 650px) {
	section[tab-box-type="support"] button[button-type="license"] {
		position:relative;
		right:auto;
		margin-top:1rem;
		float:right;
	}
}

section[tab-box-type="support"] button[button-type="license"]::after {
	content:"§";
	font-family: montserrat;
}

section[tab-box-type="support"] media-wrap[media-type="video"] > media-controls,
section[tab-box-type="support"] media-wrap[media-type="video"] media-controls-left {
	position:static;
}

section[tab-box-type="support"] media-wrap[media-type="video"] > media-controls.hidden {
	opacity: 1;
}

section[tab-box-type="support"] [content-type="video"] media-play-pause {
	padding:0;
	position:absolute;
	top: auto;
	left: calc(50% - 7.5rem);
	bottom: 50%;
	transform: scale(4);
	transition: left 200ms, bottom 350ms, transform 500ms;
}

section[tab-box-type="support"] [content-type="video"] media-play-pause.active {
	left: 0.75rem;
	bottom: 2.5rem;
	transform: scale(1);
}

section[tab-box-type="support"] [content-type="video"] media-controls-left > media-play-pause::after,
section[tab-box-type="support"] [content-type="video"] media-controls-left > media-play-pause::before {
	font-size: 5rem;
}

section[tab-box-type="support"] [content-type="video"] media-status-icon {
	display: none !important;
}
