tab-box-content-wrap {
	border-top: 12px solid var(--dlw-blue);
	border-bottom: 4px solid var(--dlw-blue);
	box-shadow: 1px 6px 6px 1px #00000089;
	position:relative;
	z-index:1;
	display:block;
}

tab-box-content {
	display:none;
	padding-bottom:var(--content-padding-half);
}

tab-box-content.active {
	display:block;
}

tab-box-content > section {
	padding:var(--content-padding-half) var(--content-padding) 0;
}

tab-box-content > section > inner-content {
	margin-bottom:0 !important;
}

tab-box-content > footer {
	margin-top:-1em;
	padding: 0 var(--content-padding) var(--content-padding-half);
	font-size:0.8em;
	line-height:1.1em;
	font-weight:300;
	color:var(--background-grey);
}

tab-box-content > section[content-type="audio"],
tab-box-content > section[content-type="embedding"],
tab-box-content > section[content-type="video"],
tab-box-content > section[content-type="exercise"] {
	padding:0;
}

/* tab-box-content > section[content-type="audio"] figcaption,
tab-box-content > section[content-type="embedding"] figcaption,
tab-box-content > section[content-type="video"] figcaption {
	padding: var(--content-padding-quarter) var(--content-padding);
} */

tab-box-header-wrap {
	text-align:left;
	overflow-x:auto;
	white-space:nowrap;
	display:block;
}

tab-box-header {
	display:inline-block;
	background: var(--background-blue);
	color: var(--dlw-blue);
	font-size:0.75em;
	font-weight:300;
	margin:0 6px;
	padding:var(--content-padding-quarter) var(--content-padding-half);
	transition: background-color 300ms, color 300ms, box-shadow 300ms;
	cursor:pointer;
	user-select:none;
}

tab-box-header:first-child {
	margin-left:0 !important;
}

tab-box-header:last-child {
	margin-right:0 !important;
}

tab-box-header.active {
	background-color: var(--dlw-blue);
	color: #fff;
	box-shadow: 1px 3px 6px 1px #00000089;
}

tab-box-source {
	display: block;
	padding: var(--content-padding-half) var(--content-padding) 0;
	font-size: 0.8em;
	line-height: 1.5em;
}

[tab-box-type="exercise"] tab-box-header {
	font-size:1.45em;
	width:1.5em;
	text-align:center;
	text-transform:uppercase;
	font-family: var(--font-headlines);
	font-weight:600;
	margin:0 8px;
	padding:var(--content-padding-quarter) 0;
	background-color: var(--background-red);
	color: var(--exercise-red);
	box-shadow: 1px 3px 6px 1px #00000089;
}

[tab-box-type="exercise"] > inner-content > tab-box-content-wrap {
	border-top-color: var(--exercise-red);
	border-bottom-color: var(--exercise-red);
	z-index: 2;
	background: var(--background-color);
}

[tab-box-type="exercise"] section[content-type="exercise"] exercise-content {
	border: 0;
	box-shadow: none;
}

[tab-box-type="exercise"] tab-box-header.active {
	background-color: var(--exercise-red);
	color: #fff;
	box-shadow: 1px 3px 6px 1px #00000089;
}

main > section[tab-box-type="exercise"]::after {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:-1em;
	width:100%;
	height:50%;
	background: var(--background-red);
	z-index:0;
}

main > section[content-type="tab-box"] section[content-type="embedding"] {
	padding: 0;
}

[content-type="tab-box"] > inner-content > details {
	border-top: 2px solid var(--dlw-blue);
	border-bottom: 2px solid var(--dlw-blue);
	box-shadow: 0 3px 6px #00000029;
}

[content-type="tab-box"] > inner-content > details:first-child {
	border-top-width:4px;
}

[content-type="tab-box"] > inner-content > details:last-child {
	border-bottom-width:4px;
}

[content-type="tab-box"] > inner-content > details > summary {
	outline: none;
	font-size: 0.8em;
	background-color: var(--background-blue);
	cursor:pointer;
	padding: 0.2em 1.9em;
	user-select:none;
	transition:color 300ms, background-color 300ms;
}

[content-type="tab-box"] > inner-content > details > summary::marker {
	content: '';
	display: none;
}

[content-type="tab-box"] > inner-content > details > summary::-webkit-details-marker {
	content: '';
	display: none;
}

[content-type="tab-box"] > inner-content > details[open] > summary {
	background-color: var(--dlw-blue);
	color: white;
}

[content-type="tab-box"] > inner-content > details > section {
	padding: var(--content-padding-half) var(--content-padding) 0;
}

[content-type="tab-box"] > inner-content > details > section > h4 {
	font-weight: 600;
}

[content-type="tab-box"] > inner-content > details > section > p {
	padding-top: var(--content-padding-half);
}

@media only screen and (max-width: 1062px) {
	help-video {
		left: calc(100% - 3.5em);
	}

	a.marker {
		position: relative;
		display: inline-block;
		left: 0;
		margin-top: 0;
		margin-bottom: 1em;
	}
}

@media only screen and (max-width: 650px) {
	help-video {
		left: calc(100% - 2.8em);
	}
}
