<!DOCTYPE html>
<html>
	<head xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"></head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="format-detection" content="telephone=no"/>
		<meta name="viewport" content="width=device-width">
		<title>Zurücksetzen Ihres Passworts für m-vet.de</title>
	</head>
	<body style="background-color: #fff; color:#444;">
		<table class="bg-table" style="background-color: #f6f6f6; width: 100%; max-width:600px; margin:0 auto;">
			<tbody>
				<tr>
					<td></td>
					<td>
						<table>
							<tbody>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td>&nbsp;</td>
									<td style="font-size: 20px; color: #444;">
										<span>Guten Tag, </span>
									</td>
									<td>&nbsp;</td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td></td>
									<td style="font-size: 20px; color: #444;">
										<span>wir haben eine Anfrage erhalten, das Passwort für Ihr Benutzerkonto unter der E-Mail-Adresse <b>{{ userName }}</b> zurückzusetzen.</span>
										<br/>
										<br/>
										<span>Noch wurde Ihr Passwort nicht geändert. Sollten Sie diese Anfrage nicht ausgelöst haben, ignorieren Sie diese Mail einfach. Um Ihr Passwort zurückzusetzen, klicken Sie bitte auf den folgenden Link:</span>
									</td>
									<td></td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td></td>
									<td>
										<a style="display:block; color: #fff; background: #B9CE12; border-radius:4px; line-height:2em; font-size:1.3em; vertical-align:middle; text-align:center;" href="{{ resetLink }}">Passwort zur&uuml;cksetzen</a>
									</td>
									<td></td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td></td>
									<td style="font-size: 18px; text-align: center; color: #444;">
										<span>Sollten Sie Probleme oder Frage haben, so kontaktieren Sie uns per E-Mail unter folgender Adresse: <a href="mailto:info@dilewe.de" style="color:#0a409a">info@dilewe.de</a></span>
									</td>
									<td></td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td></td>
									<td style="font-size: 16px; text-align: center; color: #444;">
										<span>Der Link ist gültig bis: {{ validUntil }}</span>
									</td>
									<td></td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td></td>
									<td style="font-size: 16px; text-align: center; color: #444;">
										<span>© Digitale Lernwelten GmbH, Dominikanergasse 2, 85072 Eichstätt</span>
									</td>
									<td></td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
							</tbody>
						</table>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>