<!DOCTYPE html>
<html>
	<head xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en"></head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="format-detection" content="telephone=no"/>
		<meta name="viewport" content="width=device-width">
		<title>Vollständiges Löschen des Accounts {{ userName }}</title>
	</head>
	<body style="background-color: #fff; color:#444;">
		<table class="bg-table" style="background-color: #f6f6f6; width: 100%; max-width:600px; margin:0 auto;">
			<tbody>
				<tr>
					<td></td>
					<td>
						<table>
							<tbody>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td>&nbsp;</td>
									<td style="font-size: 20px; color: #444;">
										<span>Guten Tag, </span>
									</td>
									<td>&nbsp;</td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td></td>
									<td style="font-size: 20px; color: #444;">
										<span>Wir haben eine Anfrage erhalten, den Account <b>{{ userName }}</b> vollständig zu löschen. Noch wurde nichts an ihrem Account ge&auml;ndert, sollten Sie diese Anfrage nicht ausgelöst haben ignorieren Sie diese E-Mail einfach, wenn Sie ihren Account unwiderruflich löschen wollen, klicken Sie bitte auf den folgenden Link:
									</td>
									<td></td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td></td>
									<td>
										<a style="display:block; color: #fff; background: #9a040a; border-radius:4px; line-height:2em; font-size:1.3em; vertical-align:middle; text-align:center;" href="{{ deleteLink }}">Passwort zur&uuml;cksetzen</a>
										<br><b>Diese Aktion kann nicht wieder rückgängig gemacht werden, Sie verlieren hiermit Zugriff auf alle Produkte die Sie mittels dieses Accounts gekauft haben!</b></br>
									</td>
									<td></td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td></td>
									<td style="font-size: 18px; text-align: center; color: #444;">
										<span>Sollten Sie Probleme oder Frage haben, so kontaktieren Sie uns per E-Mail unter folgender Adresse: <a href="mailto:info@dilewe.de" style="color:#0a409a">info@dilewe.de</a></span>
									</td>
									<td></td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
								<tr>
									<td></td>
									<td style="font-size: 16px; text-align: center; color: #444;">
										<span>© Digitale Lernwelten GmbH, Dominikanergasse 2, 85072 Eichstätt</span>
									</td>
									<td></td>
								</tr>
								<tr><td colspan="3">&nbsp;</td></tr>
							</tbody>
						</table>
					</td>
					<td></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>