.form-actions {
	display: flex;
	justify-content: flex-start;
	list-style: none;
	margin-top: 0.8rem;
	& .action {
		width: 100%;
	}
	& .action > * {
		max-width: 30rem;
		min-width: 20rem;
		width: 100%;
	}
}
