details.license > summary {
	font-family: var(--font-headlines);
	font-size: 0.8em;
	font-weight: 600;
	position: absolute;
	right:0.5em;
	margin-top:-2em;
	user-select: none;
	outline: none;
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: var(--headerbar-background);
	color: var(--dlw-blue);
	text-align:center;
	vertical-align:middle;
	line-height:28px;
	cursor: pointer;
	box-shadow: 0 3px 6px #00000029;
	transition:background-color 300ms, color 300ms;
	z-index: 2001;
}

summary.missing-attribution {
	background-color: #F41 !important;
}

details.license > summary::marker {
	content: '';
	display: none;
}

details.license > summary::-webkit-details-marker {
	content: '';
	display: none;
}

details.license.active > summary {
	color: var(--headerbar-background);
	background-color: var(--dlw-blue);
}

license-content {
	font-size: 0.5em;
	font-weight: 400;
	box-shadow: 0 3px 6px #00000029;
	padding: 0.8em;
	margin-top: 1px;
	line-height: 1.5em;
	position:absolute;
	left:0;
	background:rgba(255, 255, 255, 0.95);
	width:100%;
	opacity:0;
	transform:translate(0, 0%) scaleY(0);
	transform-origin:50% 0%;
	transition:transform 300ms, opacity 300ms;
	z-index: 2000;
}

details.license > license-content a {
	word-break: break-all;
	padding-right: 64px;
}

details.license > license-content p {
	padding-right: 64px;
}

@media only screen and (max-width: 952px) {
	details.license > license-content a,
	details.license > license-content p {
		padding-right: 18px;
	}
}

details.license.active > license-content {
	opacity:1;
	transform:translate(0, -100%) scaleY(1);
}

i.cc.cc-pd::before {
	content:"Public Domain";
}
