section[content-type="box"][box-type="green"] > .inner-content > details > summary {
	background-color: var(--box-green);
}

section[content-type="box"][box-type="green"] > .inner-content > details {
	border-bottom-color:var(--box-green);
}

section[box-type="green"] ol > li > ol-num {
	color: var(--box-green);
}

section[box-type="green"] ul > li::before {
	background-color: var(--box-green);
}

section[box-type="green"] ul ul > li::before {
	background-color:transparent;
	border-color: var(--box-green);
}
