section[content-type="box"] {
	color: black;
}

section[content-type="box"] > inner-content {
	box-sizing:border-box;
}

section[content-type="box"] > inner-content > details {
	position: relative;
	border-bottom:solid 8px #257DA7;
	box-shadow: 0 3px 6px #0000006E;
}

section[content-type="box"] > inner-content > details > summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--content-padding-quarter) var(--content-padding);
	outline: none;
	line-height: 2.6em;
	background-color: #257DA7;
	padding-right: 130px;
	margin-bottom:-1px;
}

section[content-type="box"] > inner-content > details > summary::marker {
	content: '';
	display: none;
}

section[content-type="box"] > inner-content > details > summary::-webkit-details-marker {
	content: '';
	display: none;
}

section[content-type="box"] > inner-content > details > summary::before,
section[content-type="box"] > inner-content > details > summary::after {
	font-family: icomoon, sans-serif;
	content: "\e903";
	position:absolute;
	font-size: 2.5em;
	right: 30px;
	color: #fff;
	transition:transform 500ms, top 500ms;
	transition-timing-function: ease-in-out;
}

box-caption h3 {
	font-size: 1.3em;
	color: #fff;
	margin-bottom:0;
	font-weight:300;
}

box-caption p {
	font-size: 0.75em;
	font-weight:200;
	color: #fff;
	margin:0.25em 0 0;
}

box-caption {
	position:relative;
	user-select:none;
	min-height:3.1em;
}

box-content {
	display:none;
	max-height:0;
	transition:max-height 400ms;
	background:var(--background-color);
	box-sizing:border-box;
	padding:0;
	overflow-y:scroll;
}

box-content > section {
	padding:var(--content-padding-half) var(--content-padding);
}

box-content > footer {
	padding: var(--content-padding-half) var(--content-padding);
	font-size:0.8em;
	line-height:1.1em;
	font-weight:300;
	color:var(--background-grey);
}

.box-wrap.active box-content {
	display:block;
}

.box-wrap {
	position:relative;
	transition:top 250ms;
}

.box-wrap.active {
	z-index:2600;
	position:fixed;
	top:16px;
	width:calc(var(--content-width) - (var(--content-padding) * 2));
	box-sizing:border-box;
}

.box-wrap.active > summary::before {
	transform:translate(0, 40%) rotate3d(1, 0, 0, 180deg);
}

.box-wrap.active > summary::before,
.box-wrap.active > summary::after {
	top:6px;
}

@media screen and (max-width: 950px) {
	section[content-type="box"] > inner-content > details > summary::before,
	section[content-type="box"] > inner-content > details > summary::after {
		right: 35px;
	}

	.box-wrap.active {
		width:100%;
		max-width:calc(100% - (var(--content-padding) * 2));
	}
}

@media screen and (max-width: 850px) {
	section[content-type="box"] > inner-content > details > summary::before,
	section[content-type="box"] > inner-content > details > summary::after {
		right: 40px;
	}
}

@media screen and (max-width: 750px) {
	section[content-type="box"] > inner-content > details > summary {
		padding: var(--content-padding-quarter) var(--content-padding);
		padding-right: 105px;
	}

	section[content-type="box"] > inner-content > details > summary::before,
	section[content-type="box"] > inner-content > details > summary::after {
		right: 35px;
	}
}

@media screen and (max-width: 650px) {
	section[content-type="box"] > inner-content > details > summary::before,
	section[content-type="box"] > inner-content > details > summary::after {
		right: 30px;
	}
}

@media screen and (max-width: 550px) {
	section[content-type="box"] > inner-content > details > summary::before,
	section[content-type="box"] > inner-content > details > summary::after {
		right: 15px;
	}

	section[content-type="box"] > inner-content > details > summary {
		padding-right: 65px;
	}
}

@media screen and (max-width: 450px) {
	section[content-type="box"] > inner-content > details > summary {
		padding-right: 71px;
	}

	section[content-type="box"] > inner-content > details > summary::before,
	section[content-type="box"] > inner-content > details > summary::after {
		right: 20px;
	}
}
