section[content-type="box"] {
	color: black;
}

section[content-type="box"] > .inner-content {
	box-sizing:border-box;
}

section[content-type="box"] > .inner-content > details {
	position: relative;
	border-bottom:solid 8px #257DA7;
	box-shadow: 0 3px 6px #0000006E;
}

section[content-type="box"] > .inner-content > details > summary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 16px 48px 8px 48px;
	outline: none;
	line-height: 2.6em;
	background-color: #257DA7;
	cursor: pointer;
}

section[content-type="box"] > .inner-content > details > summary::marker {
	content: '';
	display: none;
}

section[content-type="box"] > .inner-content > details > summary::-webkit-details-marker {
	content: '';
	display: none;
}

section[content-type="box"] > .inner-content > details > summary::before,
section[content-type="box"] > .inner-content > details > summary::after {
	font-family: icomoon, sans-serif;
	content: "\e903";
	position:absolute;
	font-size: 2.5em;
	top:16px;
	right: 62px;
	color: #fff;
	transition:transform 500ms, top 500ms;
	transition-timing-function: ease-in-out;
}

section[content-type="box"] > .inner-content > details > summary > .box-caption h3 {
	font-size: 1.4em;
	color: #fff;
	margin-bottom:0;
}

section[content-type="box"] > .inner-content > details > summary > .box-caption p {
	font-size: 0.8em;
	color: #fff;
	margin:0.25em 0 0;
}

section[content-type="box"][box-type="magenta"] > .inner-content > details > summary {
	background-color: var(--box-magenta);
}

section[content-type="box"][box-type="magenta"] > .inner-content > details {
	border-bottom-color: var(--box-magenta);
}

section[content-type="box"][box-type="green"] > .inner-content > details > summary {
	background-color: var(--box-green);
}

section[content-type="box"][box-type="green"] > .inner-content > details {
	border-bottom-color:var(--box-green);
}

section[content-type="box"][box-type="grey"] > .inner-content > details > summary {
	background-color: var(--box-grey);
}

section[content-type="box"][box-type="grey"] > .inner-content > details {
	border-bottom-color: var(--box-grey);
}

section[content-type="box"][box-type="blue"] > .inner-content > details > summary {
	background-color: var(--box-blue);
}

section[content-type="box"][box-type="blue"] > .inner-content > details {
	border-bottom-color: var(--box-blue);
}

section[content-type="box"][box-type="teal"] > .inner-content > details > summary {
	background-color: var(--box-teal);
}

section[content-type="box"][box-type="teal"] > .inner-content > details {
	border-bottom-color: var(--box-teal);
}

section[content-type="box"][box-type="red"] > .inner-content > details > summary {
	background-color: var(--task-red);
}

section[content-type="box"][box-type="red"] > .inner-content > details {
	border-bottom-color: var(--task-red);
}

.box-caption {
	position:relative;
	user-select:none;
	padding-right:112px;
}

.box-content {
	display:none;
	max-height:0;
}

section[content-type="box"] > .inner-content > .box-wrap {
	position:relative;
	transition:top 250ms;
}

section[content-type="box"] > .inner-content > .box-wrap.active {
	z-index:2000;
	position:fixed;
	top:16px;
	width:calc(var(--content-width) - (var(--content-padding) * 2));
	box-sizing:border-box;
}

section[content-type="box"] > .inner-content > .box-wrap.active > .box-content {
	display:block;
	max-height:0;
	transition:max-height 400ms;
	background:var(--background-color);
	box-sizing:border-box;
	padding:0;
	overflow-y:scroll;
}

section[content-type="box"] > .inner-content > .box-wrap.active > .box-content > section {
	padding:24px 48px;
}

section[content-type="box"] > .inner-content > .box-wrap.active > summary::before {
	transform:translate(0, 40%) rotate3d(1, 0, 0, 180deg);
}

section[content-type="box"] > .inner-content > .box-wrap.active > summary::before,
section[content-type="box"] > .inner-content > .box-wrap.active > summary::after {
	top:6px;
}

.box-content > footer {
	padding: 24px 48px;
	font-style:italic;
	font-size:0.8em;
	font-weight:500;
	color:rgba(var(--highlight-color), 0.8);
}
