section[content-type="error"] inner-content {
	color:#505050;
	background-color: white;
	border-radius:8px;
	border:solid 2px #cfcfcf;
	z-index:1;
	padding-top: 1rem;
	padding-bottom: 1rem;
	position:relative;
}

section[content-type="error"] .message,
section[content-type="error"] .type {
	font-size: large;
}

section[content-type="error"] .message,
section[content-type="error"] .title {
	margin: 0;
}

section[content-type="error"] .type {
	color: #4c3434;
	font-family: monospace;
	margin: var(--vertical-padding) calc(-1 * var(--content-padding));
	padding: 0.5rem calc(var(--content-padding) + 0.5rem);
}

section[content-type="error"]:not([is-editorial]) .type {
	background-color: #ffe89a;
}

section[content-type="error"][is-editorial] .type {
	background-color: #ff9aad;
}

section[content-type="error"] .type::before {
	content: "Type: ";
}

section[content-type="error"]::after {
	content:"";
	background:#f0f0f0;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:70%;
}

@media screen and (max-width: 800px) {
	section[content-type="error"] {
		display: none;
	}
}

.backend-link {
	float:right;
	font-size:0.8em;
}

.backend-link::before {
	content: "\270E";
}

body > section[content-type="error"] {
	max-width:1200px;
	margin:96px auto;
}
