main > section.hero {
	max-width:none;
	padding-left:0px;
	padding-right:0px;
	margin-left:0px;
	margin-right:0px;
	overflow:hidden;
	position:relative;
}

main > section.hero figure.heroimage img {
	max-height:500px;
	object-fit:cover;
}

main > section.hero figure.heroimage figcaption {
	position:absolute;
	left:0px;
	bottom:0px;
	width:100%;
	background: #FFFFFF99 0% 0% no-repeat padding-box;
	box-shadow: 0px 3px 6px #00000029;
	opacity: 1;
	backdrop-filter: blur(30px);
}

main > section.hero figure.heroimage figcaption p {
	width:100%;
	margin:0px auto;
	display:block;
	max-width:var(--content-width);
	padding:0.5em var(--content-padding);
	font-size:1.9em;
	line-height:1.5em;
}
/* .big and .small should be automatically set by the backend
 * depending on length of text
 */
main > section.hero figure.heroimage figcaption.big p {
	font-size:1.8em;
}
main > section.hero figure.heroimage figcaption.small p {
	font-size:1.35em;
}