.product-list {
	& .items {
		& .item {
			&:nth-child(4n + 1) {
				--product-color: #c8563c;
			}
			&:nth-child(4n + 2) {
				--product-color: #3e4162;
			}
			&:nth-child(4n + 3) {
				--product-color: #c2a828;
			}
			&:nth-child(4n) {
				--product-color: #261d18;
			}
		}
	}
}
