.radio-group {
	& .group {
		display: flex;
		flex-direction: column;
		margin-left: 2rem;
		& .radio {
			margin-right: 1rem;
		}
		& label {
			cursor: pointer;
			font-size: var(--font-size-400);
			user-select: none;
		}
	}
}
