html, body {
	color:#333;
	font-weight: 400;
	font-family:var(--font-content);
	width:100%;
	min-height:100%;
}

body {
	line-height:1.25em;
	font-size:1.85em;
}

img {
	display:block;
	width:100%;
	height:auto;
}

iframe {
	background:#000;
}

main > section > .inner-content {
	width:100%;
	max-width:var(--content-width);
	padding:0 var(--content-padding);
	box-sizing:border-box;
	margin:0 auto 2em;
	position:relative;
}

figure {
	position:relative;
}

section {
	position:relative;
}

main > section:first-child {
	margin-top:2.5em;
}

.marker {
	position: absolute;
	left: -2em;
	background: transparent;
	color: #BFBFBF;
	border-radius: 50%;
	border: solid 2px #BFBFBF;
	width: 2em;
	line-height: 2em;
	text-align: center;
}

details > summary {
	cursor:pointer;
	outline:none;
}
