:root {
	--content-width: 950px;
	--content-padding: 16px;
	--font-headlines: Jura;
	--font-content: Montserrat;
	--text-color: #333;
	--background-color: #fff;
	--background-accent: #e3fbff;
	--background-color-modal: rgba(255,255,255,0.8);
	--highlight-color: 0, 77, 113;
	--headerbar-color: #1D89AF;
	--box-pink: #A4247C;
	--box-green: #77952E;
	--box-blue: #22526C;
	--box-lightblue: #0F99A6;
	--box-grey: #6E7474;
	--task-red:#5B184A;
}

html, body {
	color:#333;
	font-family:var(--font-content);
}

p {
	font-family: var(--font-content);
	font-weight: 400;
	font-size: 1em;
}

img {
	display:block;
	width:100%;
	height:auto;
}

main > section {
	width:100%;
	max-width:var(--content-width);
	padding:0px var(--content-padding);
	box-sizing:border-box;
	margin:0px auto 2em;
}

