:root {
	--content-width: 950px;
	--content-padding: 40px;
	--font-headlines: jura, serif;
	--font-content: montserrat, sans-serif;
	--text-color: #333;
	--background-color: #fff;
	--background-accent: #e3fbff;
	--background-color-modal: rgba(255, 255, 255, 0.8);
	--highlight-color: 0, 77, 113;
	--headerbar-color: #1D89AF;
	--headerbar-background: rgba(255, 255, 255, 0.8);
	--box-magenta: #A4247C;
	--box-green: #77952E;
	--box-blue: #22526C;
	--box-teal: #0F99A6;
	--box-grey: #6E7474;
	--task-red: #5B184A;
	--dlw-blue: #257DA7;
	--background-blue: #CFE2EC;
	--background-green: #77952E3D;
	--background-red: #D8C7D3B8;
	--background-grey: #8F96A0;
}

html, body {
	color:#333;
	font-weight: 400;
	font-family:var(--font-content);
}

body {
	line-height:1.25em;
	font-size:1.85em;
}

p {
	margin-bottom:1em;
	line-height:1.25em;
}

b, strong {
	font-weight:bold;
}

i, em {
	font-style:italic;
}

u {
	text-decoration:underline;
}

s, strike {
	text-decoration:line-through;
}

a {
	color:rgb(var(--highlight-color));
}

img {
	display:block;
	width:100%;
	height:auto;
}

main > section > .inner-content {
	width:100%;
	max-width:var(--content-width);
	padding:0 var(--content-padding);
	box-sizing:border-box;
	margin:0 auto 2em;
}

figure {
	position:relative;
}

section {
	position:relative;
}

main > section:first-child {
	margin-top:2.5em;
}

.marker {
	position: absolute;
	left: 50%;
	margin-left: calc((var(--content-width) * -0.5) - 32px);
	background: transparent;
	color: #BFBFBF;
	border-radius: 50%;
	border: solid 2px #BFBFBF;
	width: 2em;
	line-height: 2em;
	text-align: center;
}