figure,
figure[figure-width="100"] {
	width:100%;
}

figure[figure-width="50"] {
	width:46%;
}

figure[figure-width="30"] {
	width:33%;
}

figure,
figure[figure-position="top"] {
	margin: 0 auto 1em;
	z-index: 1;
	position: relative;
}

figure[figure-position="right"] {
	float: right;
	margin:0 0 var(--content-padding-half) var(--content-padding-half);
}

figure[figure-position="left"] {
	float: left;
	margin:0 var(--content-padding-half) var(--content-padding-half) 0;
}

figure:last-child {
	margin-bottom:0;
}


@media only screen and (max-width: 800px) {
	figure[figure-width="50"],
	figure[figure-width="30"] {
		width:46%;
	}
}

@media only screen and (max-width: 550px) {
	figure[figure-width="100"],
	figure[figure-width="50"],
	figure[figure-width="30"] {
		width:100%;
		float:none;
		margin:0 0 var(--content-padding-half) 0;
	}
}
