figure,
figure[figure-width="100"] {
	width:100%;
}

figure[figure-width="50"] {
	width:46%;
}

figure[figure-width="30"] {
	width:33%;
}

figure,
figure[figure-position="top"] {
	margin: 0 auto 1em;
	z-index: 1;
	position: relative;
}

figure[figure-position="right"] {
	float: right;
	margin:0 0 var(--content-padding-half) var(--content-padding-half);
}

figure[figure-position="left"] {
	float: left;
	margin:0 var(--content-padding-half) var(--content-padding-half) 0;
}

figure:last-child {
	margin-bottom:0;
}

figcaption {
	font-family: var(--font-headlines);
	font-weight: 400;
	font-size: 0.75em;
	line-height:1.35em;
	padding:6px 0;
	padding-right:64px;
	text-align:justify;
}

tab-box-content figcaption {
	padding-left:var(--content-padding-half);
}

figcaption p:last-child {
	margin-bottom:0;
}

@media only screen and (max-width: 800px) {
	figure[figure-width="50"],
	figure[figure-width="30"] {
		width:46%;
	}
}

@media only screen and (max-width: 550px) {
	figure[figure-width="100"],
	figure[figure-width="50"],
	figure[figure-width="30"] {
		width:100%;
		float:none;
		margin:0 0 var(--content-padding-half) 0;
	}
}

figure-row {
	display:flex;
	flex-wrap:wrap;
}

figure-row > figure {
	flex:1 0 25%;
	float:none !important;
	width:auto !important;
	margin:0 0.25em 0.5em !important;
}

figure-row > figure:first-child {
	margin-left:0 !important;
}

figure-row > figure:last-child {
	margin-right:0 !important;
}
