header {
	position:fixed;
	left:0;
	top:0;
	height:2.4em;
	width:100%;
	color: var(--headerbar-color);
	background:var(--headerbar-background);
	z-index:10;
	display: flex;
	justify-content: space-between;
}

#header-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

#button-previous {
	margin-right: 2em;
}

#button-next {
	margin-left: 2em;
}

#header-left {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-left: 1.5em;
}

#header-right {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 1.5em;
}

header button {
	display:flex;
	justify-content: center;
	align-items: center;
	appearance:none;
	border:none;
	background:none;
	cursor:pointer;
	font-size:1.6em;
	color: inherit;
}

header button::after {
	font-family:icomoon, sans-serif;
}

#button-navigation::after {
	content: "\E904";
}

#button-previous,
#button-next {
	font-weight:bold;
}

#button-previous,
#button-next,
#button-settings {
	font-size:1.3em;
}

#button-settings::after {
	content: "\e994";
}

#button-previous::after {
	content: "\e902";
	display: flex;
	justify-content: center;
	align-items: center;
}

#button-next::after {
	content: "\e901";
	display: flex;
	justify-content: center;
	align-items: center;
}

header h3 {
	font-family: var(--font-headlines);
	font-weight: 600;
	font-size: 1.2em;
	margin: 0;
}
