main ul > li {
	position: relative;
	list-style-type: none;
	padding-left: 2em;
	margin-bottom:1em;
}

main ul > li::before {
	position: absolute;
	top: 0.35em;
	left: 0.1em;
	content: "";
	display: block;
	width: 0.6em;
	height: 0.6em;
	border-radius:50%;
	background-color: var(--dlw-blue);
}
