.cart-manager {
	& h3 {
		font-size: 4rem;
	}
	& .item-enter {
		font-size: 0;
		opacity: 0;
	}
	& .item-enter-active {
		font-size: 2.5rem;
		opacity: 1;
		transition: opacity 0.5s ease-in, font-size 0.5s ease-in;
	}
	& .item-exit {
		opacity: 1;
	}
	& .item-exit-active {
		opacity: 0;
		transition: opacity 0.5s ease-in;
	}
	& .sum {
		font-weight: 700;
		padding: 2rem;
		& > span {
			float: right;
		}
		& ::after {
			clear: both;
			content: "";
			display: block;
			position: relative;
		}
	}
}
