.grid {
	display: grid;
	grid-template-columns: 1fr 20rem;
	grid-template-rows: 1fr;
	position: relative;
	& .left {
		grid-area: 1 / 1 / 2 / 2;
	}
	& .right {
		grid-area: 1/2/2/3;
	}
	& .edit {
		color: #0a409a;
		cursor: pointer;
		height: 2.5rem;
		width: 2.5rem;
	}
}
.link {
	color: #0a409a;
}
.delete {
	background-color: maroon;
}
.form {
	margin: 0;
	& label {
		margin: 1rem 0;
	}
	& button {
		display: inline-block;
	}
	& a {
		color: #0a409a;
		cursor: pointer;
		display: inline-block;
		margin: 0 1rem;
	}
}