main > section[content-type="hero"] {
	max-width:none;
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
	overflow:hidden;
	position:relative;
}

main > section[content-type="hero"]:first-child {
	margin-top:0;
}

main > section[content-type="hero"] figure.heroimage img {
	max-height:500px;
	object-fit:cover;
}

main > section[content-type="hero"] figure.heroimage figcaption {
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	background: #FFF9 0% 0% no-repeat padding-box;
	box-shadow: 0 3px 6px #00000029;
	opacity: 1;
	backdrop-filter: blur(30px);
}

main > section[content-type="hero"] figure.heroimage figcaption p {
	width:100%;
	margin:0 auto;
	display:block;
	max-width:var(--content-width);
	padding:0.5em var(--content-padding);
	font-size:0.8em;
	line-height:1.5em;
}

/* .big and .small should be automatically set by the backend
 * depending on length of text
 */
main > section[content-type="hero"] figure.heroimage figcaption.big p {
	font-size:1em;
}

main > section[content-type="hero"] figure.heroimage figcaption.small p {
	font-size:0.5em;
}

section[content-type="hero"] > .inner-content {
	max-width:none;
	padding-left:0;
	padding-right:0;
}
