main > section[content-type="hero-image"] {
	max-width:none;
	padding-left:0;
	padding-right:0;
	margin-left:0;
	margin-right:0;
	position:relative;
}

main > section[content-type="hero-image"]:first-child {
	margin-top:0;
}


figure[figure-type="hero-image"] img {
	max-height:700px;
	object-fit:cover;
}

figure[figure-type="hero-image"] figcaption {
	position:relative;
	left:0;
	bottom:0;
	width:100%;
	opacity: 1;
	padding-top:0;
	/* backdrop-filter: blur(30px); */
	padding-left:64px;
}

figure[figure-type="hero-image"] figcaption p {
	width:100%;
	margin:0 auto;
	display:block;
	max-width:var(--content-width);
	line-height:1.5em;
	padding: 0 var(--content-padding);
}

section[content-type="hero-image"] details.license > license-content {
	width:100%;
	margin:0 auto;
	display:block;
	max-width:var(--content-width);
	padding:var(--content-padding-quarter) var(--content-padding);
	left:calc(50% - var(--content-width) / 2);
}

section[content-type="hero-image"] details.license > summary {
	margin-top: -45px;
}

/* .big and .small should be automatically set by the back end
 * depending on length of text
 */

figure[figure-type="hero-image"] figcaption.big p {
	font-size:1em;
}

figure[figure-type="hero-image"] figcaption.small p {
	font-size:0.5em;
}

section[content-type="hero-image"] > inner-content {
	max-width:none;
	padding-left:0;
	padding-right:0;
}
