.product {
	background: #b1c2b94d;
	box-sizing: border-box;
	display: block;
	margin-bottom: 2rem;
	min-height: 10rem;
	padding: 2rem 2rem 6rem;
	position: relative;
	& .name {
		font-weight: 700;
	}
	& .caption {
		margin-top: 1rem;
	}
	& .remove {
		background: url(/mvet/ui/trash.svg) no-repeat;
		background-size: contain;
		cursor: pointer;
		display: block;
		float: right;
		height: 5rem;
		margin-bottom: 1rem;
		margin-left: 1rem;
		width: 5rem;
	}
	& .price {
		bottom: 2rem;
		font-weight: 700;
		position: absolute;
		right: 2rem;
	}
}
