exercise-content {
	box-shadow: 0 3px 6px #00000063;
	border-top: var(--content-padding-quarter) solid var(--exercise-red);
	border-bottom: var(--content-padding-quarter) solid var(--exercise-red);
	padding: var(--content-padding-quarter) var(--content-padding);
	background: #fff;
	display:block;
}

section[content-type="exercise"] > inner-content,
section[content-type="tab-box"][tab-box-type="exercise"] > inner-content {
	position:relative;
	margin-bottom:calc(var(--content-padding) * 1.75);
}

section[content-type="exercise"] exercise-content > section {
	padding: var(--content-padding-quarter) var(--content-padding);
}

section[content-type="tab-box"] section[content-type="exercise"] > inner-content {
	padding:0;
}

section[content-type="tab-box"] section[content-type="exercise"] exercise-content {
	padding: var(--content-padding) var(--content-padding);
}

section[content-type="box"] section[content-type="exercise"] {
	padding-left:0 !important;
	padding-right:0 !important;
}

section[content-type="box"] section[content-type="exercise"] exercise-content {
	border:none;
	padding-top:0;
	padding-bottom:1em;
	box-shadow:none;
}

section[content-type="box"] section[content-type="exercise"]:last-of-type {
	margin-bottom:0 !important;
}

section[content-type="exercise"] ol > li > ol-number {
	color: var(--exercise-red);
}

.ql-editor ul > li::before {
	position: absolute;
	top: 0.1em;
	left: 1.5em;
	content: "";
	display: block;
	width: 0.4em;
	height: 0.4em;
	border: 0.15em solid var(--exercise-red);
	border-radius: 50%;
	background: transparent;
}

.ql-editor ol > li::before {
	color: var(--exercise-red);
	position: absolute;
	left: 0;
}

section[content-type="exercise"] ul > li::before {
	background-color:transparent;
	border-color: var(--exercise-red);
}

section[content-type="exercise"] ul ul > li::before {
	background-color: var(--exercise-red);
}

section[content-type="exercise"] section[content-type="gallery"] figcaption,
section[content-type="exercise"] section[content-type="gallery"] gallery-text {
	padding-left:0;
	padding-right:0;
}

section[content-type="exercise"] section[content-type="gallery"] [figure-type="gallery"] > img {
	border:none;
}

/* Padding-adjustment of an exercise inside a pop-up box */

section[content-type="box"] > inner-content > .box-wrap.active > box-content > section[content-type="exercise"] {
	padding-top: 0;
	padding-bottom: 0;
}

section[content-type="box"] > inner-content > .box-wrap.active > box-content > section[content-type="exercise"] exercise-content section {
	padding-top: 0;
	padding-bottom: 0;
}

exercise-content inner-content > h3 {
	font-size: 1.35em;
	color: var(--exercise-red);
	font-weight: 500;
	margin-bottom:1em;
}

exercise-content inner-content > ol > li > ol-num {
	color: var(--exercise-red);
}

.exercise-text {
	width:calc(100% - var(--content-padding));
	font-size:1em;
	height:5em;
	display:block;
	font-family:var(--font-content);
	margin:0 auto 1em;
	border: 2px solid var(--exercise-red);
}

main > section[content-type="exercise"]::after {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:-1em;
	width:100%;
	height:50%;
	background: var(--background-red);
	z-index:-1;
}

/* Upload Button */

upload-section {
	position: relative;
	display: block;
	padding:var(--content-padding-half) var(--content-padding);
}

upload-button {
	border: 2px solid var(--exercise-red);
	color: var(--exercise-red);
	background-color: white;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	cursor:pointer;
	transition: 500ms background-color, 300ms color;
}

upload-button:active,
upload-button:focus,
upload-button:hover {
	background-color: var(--exercise-red);
	color: white;
}

upload-section input[type=file] {
	display:none;
}

/* Text-Editor Quill Styling */

fancy-exercise-editor {
	display:block;
	box-shadow: inset 1px 2px 3px 1px #00000063;
	padding:var(--content-padding-quarter);
}

/* height of blank space from quill */

.ql-container {
	font-size:inherit;
}

.ql-editor {
	padding: var(--content-padding-quarter) 0;
	min-height: 10em;
}

.ql-editor.ql-blank::before {
	font-family:var(--font-content);
	font-style:normal;
	line-height: 1.1em;
	font-weight: 300;
	right:auto;
	left: var(--content-padding-quarter);
}

/* Styling for Textelements  */

.ql-editor p {
	font-family: var(--font-content);
	line-height:1.25em;
	font-weight: 400;
}

.ql-editor h1 {
	font-family: var(--font-headlines);
	font-size:1.6em;
	font-weight: 500;
	line-height:1.2em;
	margin-bottom:0;
}

.ql-editor h2 {
	font-family: var(--font-headlines);
	font-size: 1.3em;
	font-weight: 500;
	line-height:1.2em;
	margin-bottom:0;
}

.ql-editor ul {
	margin-bottom: 2em;
	margin-top: 2em;
}

.ql-editor ol {
	margin-bottom: var(--content-padding);
	margin-top: var(--content-padding);
}

.ql-editor ul > li {
	font-family: var(--font-content);
	line-height:0.7em;
	font-weight: 400;
}

.ql-editor ol > li {
	font-family: var(--font-content);
	line-height:0.7em;
	font-weight: 400;
}

/* Toolbar Styling */

.ql-toolbar.ql-snow {
	margin-top: 1em;
	border: none;
	padding: var(--content-padding-quarter) 0;
	align-content: center;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

.ql-snow.ql-toolbar button {
	background: none;
	border: none;
	cursor: pointer;
	height: 2.5em;
	width: 3.5em;
	padding: 0;
	vertical-align:bottom;
}

html body .ql-toolbar.ql-snow .ql-formats {
	margin: 0;
}

.ql-toolbar.ql-snow .ql-formats:nth-of-type(2) {
	margin-left: 5%;
	margin-right: 5%;
}

.ql-toolbar.ql-snow .ql-formats:nth-of-type(3) {
	margin-right: 10%;
}

.ql-italic, .ql-underline, .ql-strike {
	margin-right: -0.5em;
}

.ql-bold {
	margin-right: -1em;
}

html body .ql-toolbar.ql-snow .ql-picker-label {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 2.5em;
	padding: 0;
}

html body .ql-picker .ql-color-picker {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 1em 0 2em;
}

html body .ql-color {
	margin-right: 1em;
}

.ql-snow .ql-color-picker .ql-picker-options {
	width: 306px;
	position: absolute;
	left: -131px;
}

html body .ql-snow .ql-color-picker .ql-picker-item {
	height: 34px;
	width: 34px;
	margin: 4px;
}

/* Text Container Styling */

.ql-container.ql-snow {
	border: none;
	border-top: 1px solid #ccc;
}

/* Mobile Styling */

@media screen and (max-width: 745px) {
	.ql-snow.ql-toolbar button {
		width: 2.9em;
	}

	html body .ql-color {
		margin-right: 0.5em;
	}
}

@media screen and (max-width: 650px) {
	.ql-snow.ql-toolbar button {
		height: 2em;
	}

	html body .ql-toolbar.ql-snow .ql-picker-label {
		width: 2em;
	}
}

@media screen and (max-width: 560px) {
	.ql-snow.ql-toolbar button {
		width: 2.3em;
	}

	html body .ql-color {
		margin-right: 0.3em;
	}

	.ql-bold {
		margin-right: -0.7em;
	}
}

@media screen and (max-width: 475px) {
	.ql-snow.ql-toolbar button {
		height: 1.7em;
		width: 2em;
	}

	html body .ql-toolbar.ql-snow .ql-picker-label {
		width: 1.7em;
	}

	html body .ql-color {
		margin: 0;
	}

	.ql-toolbar.ql-snow .ql-formats:nth-of-type(3) {
		margin-right: 5%;
	}
}

@media screen and (max-width: 415px) {
	.ql-snow.ql-toolbar button {
		height: 1.4em;
		width: 1.7em;
	}

	html body .ql-toolbar.ql-snow .ql-picker-label {
		width: 1.6em;
	}

	.ql-snow .ql-color-picker, .ql-snow .ql-icon-picker {
		width: auto;
	}
}
