exercise-content {
	box-shadow: 0 3px 6px #00000063;
	border-top: var(--content-padding-quarter) solid var(--exercise-red);
	border-bottom: var(--content-padding-quarter) solid var(--exercise-red);
	padding: var(--content-padding-quarter) var(--content-padding);
	background: #fff;
	display:block;
}

section[content-type="exercise"] > inner-content,
section[content-type="tab-box"][tab-box-type="exercise"] > inner-content {
	position:relative;
	margin-bottom:calc(var(--content-padding) * 1.75);
}

section[content-type="exercise"] exercise-content > section {
	padding: 0;
}

section[content-type="tab-box"] section[content-type="exercise"] > inner-content {
	padding:0;
}

section[content-type="tab-box"] section[content-type="exercise"] exercise-content {
	padding: var(--content-padding) var(--content-padding);
}

section[content-type="box"] section[content-type="exercise"] {
	padding-left:0 !important;
	padding-right:0 !important;
}

section[content-type="box"] section[content-type="exercise"] exercise-content {
	border:none;
	padding-top:0;
	padding-bottom:1em;
	box-shadow:none;
}

section[content-type="box"] section[content-type="exercise"]:last-of-type {
	margin-bottom:0 !important;
}

section[content-type="exercise"] ol > li > ol-number {
	color: var(--exercise-red);
}

.ql-editor ul > li::before {
	position: absolute;
	top: 0.4em;
	left: 0.45em;
	content: "";
	display: block;
	width: 0.4em;
	height: 0.4em;
	border: 0.15em solid var(--exercise-red);
	border-radius: 50%;
	background: transparent;
}

.ql-editor ol > li::before {
	color: var(--exercise-red);
	position: absolute;
	left: 0;
}

section[content-type="exercise"] ul > li::before {
	background-color:transparent;
	border-color: var(--exercise-red);
}

section[content-type="exercise"] ul ul > li::before {
	background-color: var(--exercise-red);
}

section[content-type="exercise"] exercise-content section[content-type="gallery"],
section[content-type="exercise"] section[content-type="gallery"] figcaption,
section[content-type="exercise"] section[content-type="gallery"] gallery-text {
	padding-left:0;
	padding-right:0;
}

section[content-type="exercise"] section[content-type="gallery"] [figure-type="gallery"] > img {
	border:none;
}

/* Padding-adjustment of an exercise inside a pop-up box */

section[content-type="box"] > inner-content > .box-wrap.active > box-content > section[content-type="exercise"] {
	padding-top: 0;
	padding-bottom: 0;
}

section[content-type="box"] > inner-content > .box-wrap.active > box-content > section[content-type="exercise"] exercise-content section {
	padding-top: 0;
	padding-bottom: 0;
}

exercise-content inner-content > h3 {
	font-size: 1.35em;
	color: var(--exercise-red);
	font-weight: 500;
	margin-bottom:1em;
}

exercise-content inner-content > ol > li > ol-num {
	color: var(--exercise-red);
}

.exercise-text {
	width:calc(100% - var(--content-padding));
	font-size:1em;
	height:5em;
	display:block;
	font-family:var(--font-content);
	margin:0 auto 1em;
	border: 2px solid var(--exercise-red);
}

main > section[content-type="exercise"]::after {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:-1em;
	width:100%;
	height:50%;
	background: var(--background-red);
	z-index:-1;
}

/* Upload Button */

upload-section {
	position: relative;
	display: block;
	padding:var(--content-padding-half) var(--content-padding);
}

upload-button {
	border: 2px solid var(--exercise-red);
	color: var(--exercise-red);
	background-color: white;
	padding: 8px 20px;
	border-radius: 8px;
	font-size: 20px;
	font-weight: bold;
	cursor:pointer;
	transition: 500ms background-color, 300ms color;
}

upload-button:active,
upload-button:focus,
upload-button:hover {
	background-color: var(--exercise-red);
	color: white;
}

upload-section input[type=file] {
	display:none;
}

/* Text-Editor Quill Styling */

fancy-exercise-editor {
	display:block;
	box-shadow: inset 1px 2px 3px 1px #00000063;
	padding:var(--content-padding-quarter);
}

/* height of blank space from quill */

.ql-container {
	font-size:inherit;
}

.ql-editor {
	padding: var(--content-padding-quarter) 0;
	min-height: 10em;
}

.ql-editor.ql-blank::before {
	font-family:var(--font-content);
	font-style:normal;
	line-height: 1.1em;
	font-weight: 300;
	right:auto;
	left: var(--content-padding-quarter);
}

/* Styling for Textelements  */

.ql-editor p {
	font-family: var(--font-content);
	line-height:1.25em;
	font-weight: 400;
}

.ql-editor h1 {
	font-family: var(--font-headlines);
	font-size:1.6em;
	font-weight: 500;
	line-height:1.2em;
	margin-bottom:0;
}

.ql-editor h2 {
	font-family: var(--font-headlines);
	font-size: 1.3em;
	font-weight: 500;
	line-height:1.2em;
	margin-bottom:0;
}

.ql-editor ul {
	margin-bottom: 2em;
	margin-top: 2em;
}

.ql-editor ol {
	margin-bottom: var(--content-padding);
	margin-top: var(--content-padding);
}

.ql-editor ul > li {
	font-family: var(--font-content);
	line-height: 1.25em;
	font-weight: 400;
}

.ql-editor ol > li {
	font-family: var(--font-content);
	line-height: 1.25em;
	font-weight: 400;
}

/* Toolbar Styling */

.ql-toolbar.ql-snow {
	margin-top: 1em;
	border: none;
	padding: var(--content-padding-quarter) 0;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}

.ql-toolbar span.ql-formats {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.ql-toolbar span.ql-formats:nth-of-type(1) {
	width: 20%;
}

.ql-toolbar span.ql-formats:nth-of-type(2),
.ql-toolbar span.ql-formats:nth-of-type(3) {
	width: 12%;
}

span.ql-picker.ql-color-picker {
	padding: 0;
}

.ql-snow .ql-color-picker span.ql-picker-label {
	padding: 0;
}

.ql-snow.ql-toolbar button {
	background: none;
	border: none;
	cursor: pointer;
	padding: 0;
}

span.ql-picker-label:hover > svg path,
span.ql-picker-label.ql-active > svg path {
	fill: var(--dlw-blue);
}

.ql-snow.ql-toolbar button:hover > svg path,
.ql-snow.ql-toolbar button:hover > svg circle,
.ql-snow.ql-toolbar button.ql-active > svg path,
.ql-snow.ql-toolbar button.ql-active > svg circle {
	fill: var(--dlw-blue);
}

.ql-snow .ql-color-picker .ql-picker-options {
	width: 293px;
}

.ql-snow .ql-color-picker span.ql-picker-item {
	height: 32px;
	margin: 4px;
	width: 32px;
}

/* Text Container Styling */

.ql-container.ql-snow {
	border: none;
	border-top: 1px solid #ccc;
}

/* Mobile Styling */

@media screen and (max-width: 920px) {
	.ql-toolbar span.ql-formats:nth-of-type(1) {
		width: 25%;
	}

	.ql-toolbar span.ql-formats:nth-of-type(2),
	.ql-toolbar span.ql-formats:nth-of-type(3) {
		width: 16%;
	}
}

@media screen and (max-width: 820px) {
	.ql-toolbar span.ql-formats:nth-of-type(1) {
		width: 30%;
	}

	.ql-toolbar span.ql-formats:nth-of-type(2),
	.ql-toolbar span.ql-formats:nth-of-type(3) {
		width: 19%;
	}
}

@media screen and (max-width: 720px) {
	.ql-toolbar.ql-snow {
		justify-content: center;
		flex-wrap: wrap;
	}

	.ql-toolbar span.ql-formats:nth-of-type(1) {
		width: 35%;
	}

	.ql-toolbar span.ql-formats:nth-of-type(2),
	.ql-toolbar span.ql-formats:nth-of-type(3) {
		width: 22%;
	}

	.ql-snow .ql-picker.ql-expanded span.ql-picker-options {
		transform: translate(-50%, 0);
	}
}

@media screen and (max-width: 650px) {
	.ql-toolbar.ql-snow {
		padding-bottom: 0.5em;
	}
}

@media screen and (max-width: 480px) {
	.ql-toolbar span.ql-formats:nth-of-type(1) {
		width: 40%;
	}

	.ql-toolbar span.ql-formats:nth-of-type(2),
	.ql-toolbar span.ql-formats:nth-of-type(3) {
		width: 25%;
	}

	.ql-toolbar span.ql-formats:nth-of-type(3) {
		margin-top: 0.5em;
	}
}

@media screen and (max-width: 450px) {
	.ql-toolbar span.ql-formats:nth-of-type(3) {
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	.ql-toolbar span.ql-formats:nth-of-type(1) {
		width: 44%;
	}

	.ql-toolbar span.ql-formats:nth-of-type(2),
	.ql-toolbar span.ql-formats:nth-of-type(3) {
		width: 30%;
	}

	span#ql-picker-options-1 {
		transform: translate(-60%, 0);
	}
}

@media screen and (max-width: 420px) {
	.ql-toolbar span.ql-formats:nth-of-type(1) {
		width: 50%;
	}

	.ql-toolbar span.ql-formats:nth-of-type(2),
	.ql-toolbar span.ql-formats:nth-of-type(3) {
		width: 35%;
	}
}

@media screen and (max-width: 400px) {
	span#ql-picker-options-1 {
		transform: translate(-70%, 0);
	}

	span#ql-picker-options-0 {
		transform: translate(-55%, 0);
	}
}

@media screen and (max-width: 370px) {
	.ql-toolbar span.ql-formats:nth-of-type(1) {
		width: 55%;
	}

	.ql-toolbar span.ql-formats:nth-of-type(2),
	.ql-toolbar span.ql-formats:nth-of-type(3) {
		width: 38%;
		margin-top: 1em;
		margin-bottom: 0.5em;
	}

	span#ql-picker-options-0 {
		transform: translate(-16%, 0);
	}

	span#ql-picker-options-1 {
		transform: translate(-30%, 0);
	}
}

@media screen and (max-width: 350px) {
	.ql-toolbar span.ql-formats:nth-of-type(1) {
		width: 60%;
	}
}
