<h1>Backend</h1>
<%- users %>
<hr/>
<form method="POST" action="<%- abslink %>/backend" class="backend-form">
	<h3>Neuen Benutzer erstellen</h3>

	<input type="hidden" name="verb" value="insert"/>
	<label class=form-row>
		<input type="text" name="name"/>
		<span>Benutzername</span>
	</label>
	<label class=form-row>
		<input type="email" name="email"/>
		<span>E-Mail</span>
	</label>
	<label class=form-row>
		<input type="text" name="pass"/>
		<span>Passwort</span>
	</label>
	<input type="submit" class=create value="Erstellen"/>
</form>

<hr/>
<form method="POST" action="<%- abslink %>/backend/logout" class="backend-form">
	<input type="submit" value="Logout"/>
</form>
