<h1>Ihre Nutzerdaten</h1>
<hr/>
<%- status %>
<br/>

<center>
	<label class=form-row>
		<input type="text" name="username" value="<%= user.name %>" readonly/>
		<span>Benutzername</span>
	</label>

	<label class=form-row>
		<input type="text" name="email" value="<%= user.email %>" readonly/>
		<span>E-Mail</span>
	</label>
</center>

<hr/>

<h3>Ihre aktiven Produkte</h3>
<ul>
<% for(var pname in user.products){ const product = user.products[pname]; %>
<li><a href="<%= product.href %>"><%= product.name %></a></li>
<% } %>
</ul>

<hr/>

<p>Um ihr Passwort zu ändern geben Sie bitte zuerst einmal Ihr aktuelles Passwort aus Sicherheitsgr&uuml;nden ein und klicken dann auf den Button.</p>
<form method="POST" class="feuser-form">
	<input type="hidden" name="verb" value="pwExpire"/>
	<label class=form-row>
		<input type="password" name="password"/>
		<span>Passwort</span>
	</label>
	<input type="submit" value="Passwort ändern"/>
</form>

<hr/>

<p>Klicken Sie hier um ihren Account unwiederruflich zu l&ouml;schen, hierzu wird ihnen nach klick eine E-Mail gesendet in der Sie den L&ouml;schvorgang best&auml;tigen m&uuml;ssen.</p>
<form method="POST" class="feuser-form">
	<input type="hidden" name="verb" value="deleteUser"/>
	<input type="submit" class=delete value="Account Löschen"/>
</form>
