<h1>Impressum</h1>
<article>
 <p>
                Digitale Lernwelten GmbH<br>
                Dominikanergasse 2<br>
                85072 Eichstätt<br>
                Tel: +49 (0)8421 9862153<br>
                info@dilewe.de
              </p>
              <p>
                Geschäftsführer:<br>
                PD Dr. Marcus Ventzke, Johannes Grapentin
              </p>
              <p>
                Inhaltlich Verantwortlicher gem. § 55 II RStV: Johannes Grapentin<br>
                Amtsgericht Ingolstadt: HRB 8580<br>
                Umsatzsteuer-Identifikationsnummer gem. § 27a UStG: DE316654672
              </p>


<div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <h2>Haftungsausschluss</h2>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m12 l10 offset-l1 xl8 offset-xl2">
            <div class="text-and-image">
              <p>
                Links zu externen Angeboten kontrollieren wir bei Implementierung sorgfältig, übernehmen jedoch für die dort befindlichen Inhalte keine Haftung.
              </p>
              <p>
                Die Digitale Lernwelten GmbH übernimmt keinerlei Gewähr für die Aktualität, Korrektheit, Vollständigkeit oder Qualität der bereitgestellten Informationen und Web-Angebote. Haftungsansprüche gegen die Digitale Lernwelten GmbH, die sich
                auf Schäden materieller oder ideeller Art beziehen, die durch die Nutzung oder Nichtnutzung der angebotenen Informationen oder durch die Nutzung fehlerhafter oder unvollständiger Informationen verursacht wurden, sind grundsätzlich
                ausgeschlossen, sofern seitens der Digitale Lernwelten GmbH kein nachweislich vorsätzliches oder grob fahrlässiges Verschulden vorliegt. Alle Angebote sind freibleibend und unverbindlich. Die Digitale Lernwelten GmbH behält sich
                ausdrücklich vor, Teile von Seiten, Inhalte oder das gesamte Angebot ohne gesonderte Ankündigung zu verändern, zu ergänzen, zu löschen oder die Veröffentlichung ganz oder vorübergehend einzustellen.
              </p>
              <p>
                Online-Streitbeilegung gemäß Art. 14 Abs. 1 ODR-VO: Die Europäische Kommission stellt eine Plattform zur Online-Streitbeilegung (OS) bereit, die Sie unter
                <a href="http://ec.europa.eu/consumers/odr" target="_blank">http://ec.europa.eu/consumers/odr</a> finden.
              </p>
            </div>
          </div>
        </div>
</article>
