.authentication-layout {
	background: url(/mvet/ui/authentication.jpg) no-repeat;
	background-size: cover;
	color: black;
	display: flex;
	height: 100%;
	justify-content: center;
	margin-bottom: 4rem;
	& .container {
		margin-top: 5rem;
		width: 100%;
		@media (--tablet) {
			max-width: 70%;
		}
		@media (--desktop) {
			max-width: 90rem;
		}
	}
}
