.list {
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
	justify-content: space-between;
}
.item {
	list-style-type: none;
	position: relative;
	@media (--all) {
		width: 100%;
	}
	@media (--tablet) {
		width: 48.5%;
	}
	& img {
		display: block;
	}
	& label {
		bottom: 3rem;
		color: white;
		cursor: pointer;
		display: inline-block;
		font-size: 4rem;
		/* stylelint-disable-next-line font-weight-notation */
		font-weight: bold;
		left: 0;
		position: absolute;
		&::before {
			border-color: #00000000 #00000000 #00000000 #ffffff;
			border-style: solid;
			border-width: 32px 0 32px 48px;
			content: "";
			display: inline-block;
			filter: drop-shadow(0 3px 6px #00000029);
			height: 0;
			margin-right: 0.6rem;
			vertical-align: -64%;
			width: 0;
		}
	}
}