section.box {
    color: black;
    line-height: 2.6em;
    cursor: pointer;
}
section.box > details {
    position: relative;
}
section.box > details > summary{
    position: relative;
    padding: 15px 150px 15px 50px;
    box-shadow: 0px 3px 6px #0000006E;
    outline: none;
}
section.box > details > summary::marker {
    content: '';
    display: none;
}
section.box > details > summary::-webkit-details-marker {
    content: '';
    display: none;
}
section.box > details > summary::after {
    position: absolute;
    font-family: icomoon;
    content: "\e903";
    font-size: 4em;
    right: 70px;
    top: 35px;
    color: #fff;
}
section.box > details > summary > h3 {
    font-size: 2.5em;
    color: #fff;
}
section.box > details > summary > p {
    font-size: 1.2em;
    color: #fff;
}
section.box.quelle > details > summary {
    background-color: #A4247C;
}
section.box.darstellung > details > summary {
    background-color: #77952E;
}


