.burger-icon {
	--size: 4rem;
	background-color: transparent;
	border: none;
	display: block;
	font-size: 3.6rem;
	letter-spacing: -3px;
	&:focus {
		outline: 0;
	}
	&:focus-visible {
		outline: 0.1rem solid;
	}
	&:hover {
		cursor: pointer;
	}
	& .fat {
		font-weight: var(--font-weight-bold);
	}
}
