.login-icon {
	background-color: transparent;
	border: none;
	height: 90%;
	object-fit: contain;
	width: 100%;
	display: block;
	&:hover {
		cursor: pointer;
	}
	& .start-icon {
		height: 120%;
		width: 100%;
	}
}