li {
	line-height:1.2em;
}

main li {
	overflow:hidden;
}

main ol,
main ul {
	margin-bottom:var(--content-padding-half);
}

main li ol,
main li ul {
	padding-top:var(--content-padding-half);
}

main ol:last-child,
main ul:last-child {
	margin-bottom: 0;
}

main ol > li,
main ul > li {
	position: relative;
	list-style-type: none;
	padding-left: var(--content-padding);
	margin-bottom:var(--content-padding-half);
}

main ol > li:last-child,
main ul > li:last-child {
	margin-bottom:0;
}

main ul > li::before {
	position: absolute;
	top: 0.35em;
	left: 0;
	content: "";
	display: block;
	width: 0.4em;
	height: 0.4em;
	border: 0.15em solid var(--dlw-blue);
	border-radius:50%;
	background: transparent;
}

main ul ul > li::before {
	position: absolute;
	top: 0.35em;
	left: 0;
	content: "";
	display: block;
	width: 0.4em;
	height: 0.4em;
	border-radius:50%;
	background-color: var(--dlw-blue);
}

main ul ul ul > li::before {
	content: "";
	display: block;
	width: 0.6em;
	height: 0.6em;
	border-radius:50%;
	border: none !important;
	background-color: var(--background-gray) !important;
}

main ul ul ul ul > li::before {
	content: "";
	display: block;
	width: 0.4em;
	height: 0.4em;
	border: 0.15em solid var(--background-gray) !important;
	background: transparent !important;
}

main ol-number {
	font-weight:500;
}

main ol > li > ol-number {
	position: absolute;
	color: var(--dlw-blue);
	left: 0;
}

main ol ol > li > ol-number {
	position: absolute;
	color: var(--background-gray) !important;
	left: 0;
}
