@import "~cache/fonts.css";
* {
	box-sizing: border-box;
	color: inherit;
	font-family: Exo, sans-serif;
	margin: 0;
	padding: 0;
}
:root {
	--color-negative: #c70d10;
	--color-blue: #3e4162;
	--color-blue-light: #8b91b1;
	--color-orange: #d68301;
	--color-yellow: #d4b702;
	--color-grey: #718780;
	--color-main: #12372b;
	--color-green: #3b7a24;
	--color-green-light: #82aa73;
	--box-shadow: 0 3px 6px #00000054;
	--box-shadow-up: 0 -3px 6px #00000054;
	--font-weight-light: 300;
	--font-weight-regular: 400;
	--font-weight-medium: 500;
	--font-weight-semi-bold: 600;
	--font-weight-bold: 700;
	--font-weight-extra-bold: 800;
	--font-weight-black: 900;
	--font-size-300: 1.6rem;
	--font-size-400: 2.05rem;
	--font-size-500: 2.5rem;
	/* This makes sure that 1rem = 10px */
	font-size: 62.5%;
	font-weight: var(--font-weight-light);
	& a {
		text-decoration: none;
	}
	& body {
		font-size: var(--font-size-500);
		min-height: 100vh;
		position: relative;
		/* stylelint-disable-next-line selector-pseudo-class-no-unknown */
		& :global(#root) {
			height: 100%;
		}
	}
	& img {
		display: block;
		height: auto;
		max-width: 100%;
	}
	& p {
		margin-bottom: 3rem;
	}
}
