section[content-type="gallery"] > inner-content > details figure[figure-type="gallery"].hidden {
	display:none;
}

section[content-type="gallery"] > inner-content > details {
	position:relative;
}

section[content-type="gallery"] > inner-content > details > summary {
	cursor:auto;
}

section[content-type="gallery"] > inner-content > details > summary::marker {
	content: "";
	display: none;
}

section[content-type="gallery"] > inner-content > details > summary::-webkit-details-marker {
	content: "";
	display: none;
}

figure[figure-type="gallery"] > details.license > summary {
	right: 54px;
	margin-top: -45px;
}

figure[figure-type="gallery"] > details.license > license-content {
	padding-bottom: 2.4em;
}

figure[figure-type="gallery"] {
	margin-bottom:0;
}

figure[figure-type="gallery"] > img {
	border:solid 12px var(--background-color);
	background:var(--background-color);
}

section[content-type="gallery"] .gallery-text {
	margin: 12px 12px -8px;
	padding: 0;
}

section[content-type="gallery"] .gallery-text p {
	margin: 0;
	padding: 0;
	font-family: var(--font-headlines);
	color: var(--headerbar-color);
	font-weight: 500;
}

section[content-type="gallery"] figure[figure-type="gallery"] img {
	width:100%;
	height:56vw;
	max-height: 462px;
	object-fit:cover;
}

section[content-type="gallery"] figcaption {
	padding-left:12px;
	padding-right: var(--content-padding-quarter);
	padding-top: var(--content-padding-quarter);
	padding-bottom: calc(var(--content-padding-quarter) * 1.5);
	line-height: 1.3em;
}

box-caption h3 {
	font-weight:300;
}

gallery-text {
	font-family: var(--font-headlines);
	line-height: 1.35em;
	padding:0 12px;
	color: var(--text-color);
	font-size: 1em;
	font-weight: 300;
	display:block;
}

section[content-type="gallery"] {
	position:relative;
}

main > section[content-type="text-and-image"] {
	overflow:visible;
}

section[content-type="gallery"] > inner-content {
	max-width: calc(var(--content-width) + 24px);
	position:relative;
	z-index:1;
}


main > section[content-type="text-and-image"] > section[content-type="gallery"] > inner-content {
	width: 100%;
	max-width: calc(var(--content-width) + 24px);
	padding: 0 var(--content-padding);
	box-sizing: border-box;
	margin: 0 auto var(--content-padding);
	position: relative;
}

main > section[content-type="gallery"]::after,
main > section[content-type="text-and-image"] > section[content-type="gallery"]::after {
	content:"";
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:50%;
	background: var(--background-blue);
	z-index:0;
}

.pswp {
	z-index:3500 !important;
}

.pswp__caption__center {
	color: #333;
	font-weight: 400;
	font-size:0.8em;
	line-height:1.25em;
	font-family:var(--font-content);
	max-width: var(--content-width);
}

.pswp__bg {
	background: #fff;
}

.pswp__ui--fit .pswp__top-bar {
	background:var(--headerbar-color);
}

.pswp__caption {
	background: #fff;
}

.pswp__ui--fit .pswp__caption {
	background:#fff;
}

.pswp__button.pswp__button--arrow--right,
.pswp__button.pswp__button--arrow--left {
	width: 60px;
	height: 60px;
	background-color: #fff;
	font-family: icomoon;
	color: #257DA7;
	border-radius: 50%;
	mask-repeat: no-repeat;
	mask-clip: content-box;
	mask-size: 100%;
	transform: translate(0, -50%);
}

.pswp__ui--idle .pswp__button--arrow--left,
.pswp__ui--idle .pswp__button--arrow--right {
	opacity: 1;
}

.pswp__ui--fit .pswp__button--arrow--left {
	margin-left: 20px;
}

.pswp__ui--fit .pswp__button--arrow--right {
	margin-right: 20px;
}

.pswp__button.pswp__button--arrow--right::before,
.pswp__button.pswp__button--arrow--left::before {
	margin-top: -34px;
	background: transparent;
	line-height: 60px;
	font-size: 3.3em;
	mask-repeat: no-repeat;
	mask-clip: content-box;
	mask-size: 100%;
	background-color: var(--dlw-blue);
	mask-position: center center;
	height: 58px;
	width: 58px;
}

.pswp__button.pswp__button--arrow--left::before {
	margin-left: -8px;
	mask-image: url("/resources/svg/arrow-left.svg");
}

.pswp__button.pswp__button--arrow--right::before {
	margin-right: -8px;
	mask-image: url("/resources/svg/arrow-right.svg");
}

figure[hide-buttons="1"] > details.license > summary,
figure[hide-buttons="1"] > button {
	display:none;
}

button[button-type="next-slide"],
button[button-type="previous-slide"],
button[button-type="fullscreen"] {
	display: block;
	position: absolute;
	right: 20px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	border: 0;
	background-color: var(--headerbar-background);
	color: var(--dlw-blue);
	text-align: center;
	outline: none;
	z-index:30;
	font-size: 1em;
	line-height: 1em;
	font-family: icomoon;
	padding: 0;
}

button[button-type="fullscreen"],
.lightbox-bound {
	cursor:zoom-in;
}

button[button-type="next-slide"],
button[button-type="previous-slide"] {
	height:44px;
	width:44px;
	font-size:2em;
	opacity: 0.7;
	top:50%;
	margin-top: -22px;
	cursor: pointer;
}

button[button-type="next-slide"] {
	height:44px;
	width:44px;
	font-size:2em;
	opacity: 0.7;
	top:50%;
	margin-top: -22px;
	cursor: pointer;
	background-position-x: 60%;
	background-position-y: 55%;
}

button[button-type="previous-slide"] {
	right:auto;
	height:44px;
	width:44px;
	font-size:2em;
	left:20px;
	top:50%;
	margin-top: -22px;
	cursor:pointer;
	opacity: 0.7;
}

button[button-type="previous-slide"]::before,
button[button-type="next-slide"]::before {
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	background-color: var(--dlw-blue);
}

button[button-type="next-slide"]::before {
	mask: url("/resources/svg/arrow-right.svg");
	mask-repeat: no-repeat;
	mask-clip: content-box;
	mask-size: 80%;
	mask-position: 60% 55%;
}

button[button-type="previous-slide"]::before {
	mask: url("/resources/svg/arrow-left.svg");
	mask-repeat: no-repeat;
	mask-clip: content-box;
	mask-size: 80%;
	mask-position: 40% 55%;
}

button[button-type="fullscreen"] {
	top:auto;
	font-size:0.87em;
	right:16px;
	margin-top: -45px;
	box-shadow: 0 3px 6px #00000029;
	transition: background-color 300ms, color 300ms;
	padding: 0;
	background-position-x: 50%;
	background-position-y: 50%;
}

button[button-type="fullscreen"]::after {
	display: block;
	width: 100%;
	height: 100%;
	content: "";
	mask-image: url("/resources/svg/fullscreen.svg");
	mask-repeat: no-repeat;
	mask-clip: content-box;
	mask-size: 80%;
	mask-position: center center;
	background-color: var(--dlw-blue);
}

section[section-type="hero-image"] button[button-type="fullscreen"] {
	right: 2.5em;
	margin-top: -45px;
}

section[content-type="gallery"] button[button-type="fullscreen"] {
	right: 18px;
	margin-top: -45px;
}

figure[figure-type="picture"] > button[button-type="fullscreen"] {
	right:8px;
	margin-top: -45px;
}

figure[figure-type="picture"] > details.license > summary {
	right:45px;
	margin-top: -45px;
}

section[content-type="tab-box"] figure[figure-type="gallery"] img {
	border: none;
}

button[button-type="fullscreen"].active::before {
	opacity: 0;
}

button[button-type="fullscreen"].active::after {
	opacity: 1;
}

figure-row button[button-type="fullscreen"]::before,
figure-row button[button-type="fullscreen"]::after {
	font-size: 1.1em;
	line-height: 1.1em;
}

main > section[content-type="text-and-image"] > inner-content > figure > button[button-type="fullscreen"]::before,
main > section[content-type="text-and-image"] > inner-content > figure > button[button-type="fullscreen"]::after {
	margin-left: 0;
}

caption-wrap > figcaption.hidden {
	display:none;
}
