.country-selector {
	& .options {
		color: black;
		font-size: 2.5rem;
		width: 100%;
		height: 40px;
		background-color: white;
		border: .1rem solid #020202;
		&:hover {
			background-color: #orange;
		}
	}
}
