section[content-type="embedding"] > inner-content > details > summary::marker {
	content: '';
	display: none;
}

section[content-type="embedding"] {
	position:relative;
}

section[content-type="embedding"] > inner-content > details > summary::-webkit-details-marker {
	content: '';
	display: none;
}

[figure-type="embedding"] details.license > summary {
	margin-top:var(--content-padding-quarter);
}

main > section[content-type="embedding"]::after {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:0;
	width:100%;
	height:50%;
	background: var(--background-green);
	z-index:0;
}

section[content-type="embedding"] > inner-content {
	position:relative;
	z-index:1;
}

figure[figure-type="embedding"] > figcaption{
	padding-bottom: var(--content-padding-half);
}

section[content-type="embedding"] > inner-content > figure > lazy-iframe,
section[content-type="embedding"] > inner-content > figure > iframe {
	display: block;
	background:#666;
	width:100%;
	height:600px;
}

[embedding-target="youtube"] {
	display:block;
	position:relative;
}

[embedding-target="youtube"]::before {
	content:'';
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-48px;
	margin-top:-32px;
	width:96px;
	height:64px;
	background:red;
	z-index:2;
	border-radius:8px;
	opacity:0;
	transform:scale(2);
	transition:opacity 250ms, transform 400ms;
}

[embedding-target="youtube"]::after {
	content:'';
	display:block;
	width:0;
	height:0;
	border-left:solid 16px white;
	border-top:solid 8px transparent;
	border-bottom:solid 8px transparent;
	position:absolute;
	left:50%;
	top:50%;
	margin-left:-8px;
	margin-top:-8px;
	z-index:3;
	opacity:0;
	transform:scale(2);
	transition:opacity 250ms, transform 400ms;
}

[embedding-target="youtube"]:active::before,
[embedding-target="youtube"]:hover::before,
[embedding-target="youtube"]:focus::before {
	opacity:0.7;
	transform:scale(1);
}

[embedding-target="youtube"]:active::after,
[embedding-target="youtube"]:hover::after,
[embedding-target="youtube"]:focus::after {
	opacity:1;
	transform:scale(1);
}

.h5p-iframe {
	background: var(--background-color) !important;
}
