.image-text {
	--outline-color: #222222;
	--outline-width: 0.2rem;
	--outline-blur: 0.2rem;
	&, & * {
		text-shadow:
			var(--outline-width) var(--outline-width) var(--outline-blur) var(--outline-color),
			var(--outline-width) calc(-1 * var(--outline-width)) var(--outline-blur) var(--outline-color),
			calc(-1 * var(--outline-width)) var(--outline-width) var(--outline-blur) var(--outline-color),
			calc(-1 * var(--outline-width)) calc(-1 * var(--outline-width)) var(--outline-blur) var(--outline-color);
	}
}
