/* stylelint-disable selector-class-pattern */
.wrap {
	height: 224px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	transform: scale(0.6);
	width: 224px;
	& .indicator {
		animation-direction: normal;
		animation-duration: 1.2s;
		animation-iteration-count: infinite;
		animation-name: f_fadeG;
		background-color: rgb(255, 255, 255);
		border-radius: 21px;
		height: 40px;
		position: absolute;
		width: 40px;
		&.rotateG_01 {
			animation-delay: 0.45s;
			left: 0;
			top: 91px;
		}
		&.rotateG_02 {
			animation-delay: 0.6s;
			left: 26px;
			top: 26px;
		}
		&.rotateG_03 {
			animation-delay: 0.75s;
			left: 91px;
			top: 0;
		}
		&.rotateG_04 {
			animation-delay: 0.9s;
			right: 26px;
			top: 26px;
		}
		&.rotateG_05 {
			animation-delay: 1.05s;
			right: 0;
			top: 91px;
		}
		&.rotateG_06 {
			animation-delay: 1.2s;
			bottom: 26px;
			right: 26px;
		}
		&.rotateG_07 {
			animation-delay: 1.35s;
			bottom: 0;
			left: 91px;
		}
		&.rotateG_08 {
			animation-delay: 1.5s;
			bottom: 26px;
			left: 26px;
		}
	}
}
/* stylelint-disable-next-line keyframes-name-pattern */
@keyframes f_fadeG {
	0% {
		background-color: rgb(185, 222, 18);
	}
	100% {
		background-color: rgb(255, 255, 255);
	}
}
