.authentication-form {
	& .title {
		font-size: 3.5rem;
		margin-bottom: 2rem;
	}
	& .description {
		font-size: 2rem;
		margin-bottom: 7rem;
	}
	& .submit {
		margin-top: 7rem;
		min-width: 30rem;
		@media (--tablet) {
			justify-self: flex-end;
		}
	}
}
