.banner-page {
	& .banner {
		position: relative;
		& .image {
			height: calc(100vh - var(--header-height));
			object-fit: cover;
			object-position: center center;
			width: 100%;
		}
		& .title {
			color: white;
			font-size: 8vw;
			font-weight: var(--font-weight-bold);
			position: absolute;
			top: 5rem;
		}
	}
	& .content {
		margin-top: 10rem;
	}
}
