.product {
	--grid-template-areas: "rest preview";
	--name-margin: 15rem;
	--name-width: 100vw;
	--text-alignment: right;
	background-color: var(--product-color);
	color: white;
	overflow: hidden;
	&.start-with-preview {
		--grid-template-areas: "preview rest";
		--name-margin: -20vw;
		--name-width: initial;
		--text-alignment: left;
	}
	& .row {
		@media (--all) {
			display: flex;
			flex-direction: column;
		}
		@media (--desktop) {
			display: grid;
			grid-template-areas: var(--grid-template-areas);
			grid-template-columns: 60rem 1fr;
		}
		& .name, & .mobile-name {
			font-weight: var(--font-weight-black);
			hyphens: auto;
			letter-spacing: 0.5rem;
			@media (--all) {
				&.name {
					display: none;
				}
			}
			@media (--desktop) {
				display: grid;
				margin: 0;
				margin-left: var(--name-margin);
				width: var(--name-width);
				&.name {
					display: block;
				}
				&.mobile-name {
					display: none;
				}
			}
			& .text {
				position: relative;
				@media (--all) {
					font-size: 5rem;
				}
				@media (--tablet) {
					font-size: 8rem;
				}
				@media (--laptop) {
					font-size: 12rem;
				}
				@media (--desktop) {
					font-size: 9vw;
				}
			}
		}
		& .card {
			grid-area: rest;
			max-height: 90rem;
			padding: 4rem 0 6rem;
			& .card-content {
				display: grid;
				grid-auto-flow: row;
				grid-gap: 10rem;
				height: 100%;
				justify-content: space-between;
				& .enticer {
					position: relative;
					@media (--desktop) {
						text-align: var(--text-alignment);
					}
					& .caption {
						font-size: 4rem;
						font-weight: var(--font-weight-medium);
						margin-bottom: 2.8rem;
					}
					& .description {
						/* stylelint-disable-next-line property-no-vendor-prefix */
						-webkit-box-orient: vertical;
						/* stylelint-disable-next-line value-no-vendor-prefix */
						display: -webkit-box;
						font-size: 2.5rem;
						font-weight: var(--font-weight-light);
						-webkit-line-clamp: 4;
						overflow: hidden;
						text-overflow: ellipsis;
					}
				}
				& .bottom {
					display: flex;
					width: 100%;
					& .action {
						margin: 0 auto;
						text-align: center;
						& .price {
							font-size: 4.5rem;
							font-weight: var(--font-weight-bold);
							margin-bottom: 1.8rem;
						}
					}
				}
			}
		}
		& .preview {
			align-self: stretch;
			grid-area: preview;
			object-fit: cover;
			object-position: center center;
			width: 100%;
		}
	}
}
