section[content-type="task"] .task-content {
	box-shadow: 0 3px 6px #00000063;
	border-top: 0.5em solid var(--task-red);
	border-bottom: 0.5em solid var(--task-red);
	background: #fff;
	padding: 2em;
}

section[content-type="tabbox"] section[content-type="task"] .task-content {
	padding:0;
}

section[content-type="box"] section[content-type="task"] {
	padding-left:0 !important;
	padding-right:0 !important;
	box-shadow:none;
}

section[content-type="box"] section[content-type="task"] .task-content {
	border:none;
	padding-top:0;
	padding-bottom:1em;
	box-shadow:none;
}

section[content-type="box"] section[content-type="task"]:last-of-type {
	margin-bottom:0 !important;
}

.task-content .inner-content > h3 {
	font-size: 1.35em;
	color: var(--task-red);
	font-weight: 600;
	margin-bottom:1em;
}

.tasktext {
	width:calc(100% - 2em);
	font-size:1em;
	height:5em;
	display:block;
	font-family:var(--font-content);
	margin:0 auto 1em;
	border: 2px solid var(--task-red);
}

section[content-type="task"] {
	position:relative;
}

main > section[content-type="task"]::after {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:-1em;
	width:100%;
	height:50%;
	background: var(--background-red);
	z-index:0;
}

section[content-type="task"] > .inner-content {
	position:relative;
	z-index:1;
}

/* height of blank space from quill */
.fancy-task-editor.ql-container.ql-snow .ql-editor {
	min-height: 12em;
}

section[content-type="task"] ol > li > .ol-numerator {
	color: var(--task-red);
}

section[content-type="task"] ul > li::before {
	background-color: var(--task-red);
}

section[content-type="task"] ul ul > li::before {
	background-color:transparent;
	border-color: var(--task-red);
}
