audio {
	display:block;
	width:100%;
	height:2em;
}

section[content-type="audio"] > .inner-content > details > summary::marker {
	content: '';
	display: none;
}

section[content-type="audio"] {
	position:relative;
}

section[content-type="audio"] > .inner-content > details > summary::-webkit-details-marker {
	content: '';
	display: none;
}

main > section[content-type="audio"]::after {
	content:'';
	display:block;
	position:absolute;
	left:0;
	bottom:-0.5em;
	width:100%;
	height:50%;
	background: var(--background-blue);
	z-index:0;
}

section[content-type="audio"] > .inner-content {
	position:relative;
	z-index:1;
}
