.order {
	& .text {
		@media (--tablet) {
			display: flex;
			flex-direction: column;
			height: calc(100vh - 26rem);
			justify-content: flex-end;
		}
		@media (--laptop) {
			height: calc(100vh - 38rem);
		}
		@media (--desktop) {
			display: flex;
			flex-direction: column;
			height: auto;
			justify-content: center;
			margin-left: auto;
			margin-right: 4rem;
			width: calc(100% - 64rem);
		}
		& > p {
			color: white;
			font-size: 1.5rem;
			font-weight: var(--font-weight-semi-bold);
			line-height: 3rem;
			@media (--tablet) {
				font-size: 2.5rem;
				font-weight: var(--font-weight-normal);
				line-height: 4.5rem;
			}
			@media (--laptop) {
			}
			@media (--desktop) {
				font-size: 4rem;
				line-height: 5rem;
			}
		}
	}
	& .button {
		align-items: flex-end;
		display: flex;
		height: calc(100vh - 34rem);
		justify-content: center;
		@media (--tablet) {
			height: auto;
		}
		& button {
			margin-right: 0;
		}
	}
}