header {
	position:fixed;
	left:0;
	top:0;
	height:2.2em;
	width:100%;
	color: var(--headerbar-color);
	background:var(--headerbar-background);
	border-bottom:solid 2px var(--headerbar-color);
	z-index:2600;
	display: block;
	padding:8px var(--content-padding);
}

header::after {
	content:'';
	position:relative;
	clear:both;
}

#header-left > *,
#header-center > *,
#header-right > * {
	display:inline-block;
}

#header-center {
	position:absolute;
	left:0;
	top:8px;
	width:100%;
	text-align:center;
}

#header-left, #header-right {
	position:relative;
	z-index:1;
}
#header-left { float:left; }
#header-right { float:right; }

#button-navigation,
#button-previous,
#button-next {
	width: 32px;
	height: 32px;
	text-align:center;
	vertical-align:middle;
	appearance:none;
	border:none;
	background:none;
	cursor:pointer;
	color: inherit;
	font-family:icomoon, sans-serif;
	font-size:1.3em;
	text-decoration: none;
}

#button-navigation {
	background-image: url("/resources/svg/hamburger.svg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 32px;
	position: relative;
	top: 2px;
}

#button-settings::after { content: "\e994"; }

button#button-previous,
button#button-next {
	display:none;
}

#button-previous {
	width: 32px;
	height: 32px;
	background-image: url("/resources/svg/arrow-left.svg");
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: 100%;
}

#button-next {
	width: 32px;
	height: 32px;
	background-image: url("/resources/svg/arrow-right.svg");
	background-repeat: no-repeat;
	background-clip: content-box;
	background-size: 100%;
}

header h3 {
	font-family: var(--font-headlines);
	font-weight: 400;
	font-size: 0.9em;
	margin: -6px var(--content-padding);
	max-width: 44vw;
	overflow: hidden;
	white-space: nowrap;
	line-height: 1.2em;
}


#button-settings {
	display:none !important;
}


@media only screen and (max-width: 800px) {
	header {
		top: auto;
		bottom:0;
		height: 48px;
	}

	header h3 {
		display: none !important;
		margin: 0;
		margin-right: var(--content-padding);
	}

	main {
		padding-top: 0;
	}

	#header-center { top:10px; }

	#button-navigation {
		margin-top: 8px;
		top: 0;
	}

	#header-left {
		position: absolute;
		float: none;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	#header-right { float:left; }

	#button-next {
		position: absolute;
		right: 4em;
		margin-top: -1px;
	}

	#button-previous {
		position: absolute;
		left: 4em;
		margin-top: -1px;
	}
}

@media only screen and (max-width: 700px) {
	header h3 {
		font-size:0.9em;
	}
}

@media only screen and (max-width: 600px) {
	header h3 {
		font-size:0.8em;
	}
}

@media only screen and (max-width: 500px) {
	header {
		border-top: solid 2px var(--headerbar-color);
		border-bottom: none;
		height: 80px;
	}

	#header-left {
		position: absolute;
		float: none;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}

	#button-navigation {
		margin-top: 3px;
	}

	#header-center {
		position: static;
	}

	#header-center > button {
		margin:0 var(--content-padding-half);
	}

	#header-center > a {
		font-size: 2em;
		line-height: 40px;
		position: absolute;
		top: 50%;
	}

	#button-next {
		width: 32px;
		height: 32px;
		right: 1em;
		margin-top: -17px;
	}

	#button-previous {
		width: 32px;
		height: 32px;
		left: 1em;
		margin-top: -17px;
	}

	aside nav-close-button {
		bottom: 78px;
		font-size: 2.3em;
	}
}
