license-info[license-key="ARRC"] {
	display:none;
}

license-info[license-key="CC4"] > license-name,
license-info[license-key="CC3"] > license-name,
license-info[license-key="CC2"] > license-name,
license-info[license-key="CC"] > license-name,
license-info[license-key="CC0"] > license-name,
license-info[license-key="PD"] > license-name {
	display:none;
}

license-icon,
license-info[license-key="CC4"]::before,
license-info[license-key="CC3"]::before,
license-info[license-key="CC2"]::before,
license-info[license-key="CC"]::before,
license-info[license-key="CC0"]::before,
license-info[license-key="PD"]::before {
	content:'';
	background:url("/resources/svg/PD.svg") no-repeat;
	background-size:contain;
	width:3em;
	height:3em;
	display:inline-block;
	margin-right:1.5em;
	line-height:1.65em;
	vertical-align:middle;
}

license-icon {
	margin-right:0.5em;
	text-indent:-9999px;
}

license-info[license-key="CC4"]::before,
license-info[license-key="CC3"]::before,
license-info[license-key="CC2"]::before,
license-info[license-key="CC"]::before {
	background-image:url("/resources/svg/CC.svg");
}

license-info[license-key="PD"] license-icon,
license-info[license-key="CC0"] license-icon {
	display:none;
}

license-info[license-key="CC0"]::before {
	background-image:url("/resources/svg/CC0.svg");
}

license-icon[icon-term="BY"] {
	background-image:url("/resources/svg/CC-BY.svg");
}

license-icon[icon-term="NC"] {
	background-image:url("/resources/svg/CC-NC.svg");
}

license-icon[icon-term="ND"] {
	background-image:url("/resources/svg/CC-ND.svg");
}

license-icon[icon-term="SA"] {
	background-image:url("/resources/svg/CC-SA.svg");
}

