button[button-type="accept"],
button[button-type="cancel"] {
	float: right;
	border: none;
	color: var(--box-gray);
	border-radius: 8px;
	text-align: center;
	text-decoration: none;
	font-size:0.9em;
	padding: 0.5em;
	margin-left:1em;
	transition: background-color 200ms;
}

button[button-type="accept"] {
	background-color: var(--dlw-blue);
	color: white;
}

button[button-type="accept"]:hover,
button[button-type="accept"]:focus,
button[button-type="accept"]:active {
	background-color: #257DA7D0;
}

button[button-type="cancel"]:hover,
button[button-type="cancel"]:focus,
button[button-type="cancel"]:active {
	background-color: #dddd;
}
